#calSection{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    width: 320px;
    height: 500px;
    z-index: 1;
    gap: 5px;
    text-align: center;
    color: #FFFFFF;
    font-family: Arial;

    padding:5px;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);

    /* From https://css.glass */
    background: rgba(44, 7, 52, 0.73);
    /*border-radius: 16px;*/
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /*border: 1px solid rgba(44, 7, 52, 0.41);*/
}

#calSection>span{
    border: 1px solid #A281A9BA;
    padding-top: 35px;
}

#calSection>span:hover{
    background-color: #148BA1B3;
}

/*clear button*/
#calSection>span:nth-child(1){

}

/*input*/
#calSection>span:nth-child(2){
    grid-row: 1/2;
    grid-column:  2/5;
    padding-top: 0;
}

.display {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*box-shadow: rgb(229, 243, 254);*/
    padding: 25px 15px 0 0;
    overflow: hidden;
}

.previous {
    font-size:18px;
    font-weight: 100;

    color: grey;
}
.current {
    font-size:40px;
    font-weight: 150;
    position: relative;
    overflow-wrap: break-word;

    color: #ffffff;
}

#calSection>span:nth-child(2):hover{
    background-color: transparent;
}

/*7*/
#calSection>span:nth-child(3){
    background-color: #0B0111B3;
}
#calSection>span:nth-child(3):hover{
    background-color: #A281A9BA;
}

/*8*/
#calSection>span:nth-child(4){
    background-color: #0B0111B3;
}
#calSection>span:nth-child(4):hover{
    background-color: #A281A9BA;
}

/*9*/
#calSection>span:nth-child(5){
    background-color: #0B0111B3;
}
#calSection>span:nth-child(5):hover{
    background-color: #A281A9BA;
}

/*+*/
#calSection>span:nth-child(6){

}

/*4*/
#calSection>span:nth-child(7){
    background-color: #0B0111B3;
}
#calSection>span:nth-child(7):hover{
    background-color: #A281A9BA;
}

/*5*/
#calSection>span:nth-child(8){
    background-color: #0B0111B3;
}
#calSection>span:nth-child(8):hover{
    background-color: #A281A9BA;
}

/*6*/
#calSection>span:nth-child(9){
    background-color: #0B0111B3;
}
#calSection>span:nth-child(9):hover{
    background-color: #A281A9BA;
}

/*-*/
#calSection>span:nth-child(10){

}

/*1*/
#calSection>span:nth-child(11){
    background-color: #0B0111B3;
}
#calSection>span:nth-child(11):hover{
    background-color: #A281A9BA;
}

/*2*/
#calSection>span:nth-child(12){
    background-color: #0B0111B3;
}
#calSection>span:nth-child(12):hover{
    background-color: #A281A9BA;
}

/*3*/
#calSection>span:nth-child(13){
    background-color: #0B0111B3;
}
#calSection>span:nth-child(13):hover{
    background-color: #A281A9BA;
}

/*/*/
#calSection>span:nth-child(14){

}

/*.*/
#calSection>span:nth-child(15){

}

/*0*/
#calSection>span:nth-child(16){
    background-color: #0B0111B3;
}
#calSection>span:nth-child(16):hover{
    background-color: #A281A9BA;
}

/*=*/
#calSection>span:nth-child(17){

}

/*(*)*/
#calSection>span:nth-child(18){

}

