#calSection{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #0a58ca;
    width: 320px;
    height: 500px;
    z-index: 1;
    /* From https://css.glass */
    background: rgba(53, 5, 81, 0.21);
   /* border-radius: 16px;*/
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(53, 5, 81, 0.47);
}

#calSection>div{
    border: 1px solid black;
}

#calSection>div:nth-child(1)>div{
    border: 1px solid black;
}

#calSection>div:nth-child(2)>div{
    border: 1px solid black;
}

#calSection>div:nth-child(3)>div{
    border: 1px solid black;
}

#calSection>div:nth-child(4)>div{
    border: 1px solid black;
}

#calSection>div:nth-child(5)>div{
    border: 1px solid black;
}