body{
    position: absolute;
    width: 98vw;
    height: 1000vh;
}
body>div{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: gray;
    border-radius: 100%;
    width: 280px;
    height: 280px;
}

body>div>div{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: red;
    border-radius: 100%;
    width: 245px;
    height: 245px;
}

/*body>div:nth-child(2){
    position: absolute;
    top: 0;
    left: 0%;
    background-color: purple;
    width: 245px;
    height: 245px;
    border-radius: 100%;
}*/

/*
body>div:nth-child(3){
    position: absolute;
    top: 0;
    left: 50%;
    background-color: cornflowerblue;
    width: 245px;
    height: 245px;
    border-radius: 100%;
}

body>div:nth-child(4){
    position: absolute;
    top: 0;
    left: 50%;
    background-color: coral;
    width: 245px;
    height: 245px;
    border-radius: 100%;
}

body>div:nth-child(2)>h4{
    font-size: 15px;
    color: #FFFFFF;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

body>div:nth-child(3)>h4{
    font-size: 15px;
    color: #FFFFFF;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

body>div:nth-child(4)>h4{
    font-size: 15px;
    color: #FFFFFF;

}*/
