body>div:first-child{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 15px solid gray;
    border-radius: 100%;
    width: 280px;
    height: 280px;
}

body>div>div{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 18px solid red;
    border-radius: 100%;
    width: 245px;
    height: 245px;

}
body>section:nth-child(2)>div{
    background-color: purple;
}

body>section:nth-child(3)>div{
    background-color: cornflowerblue;
}

body>section:nth-child(4)>div{
    background-color: coral;
}

body>section:nth-child(2)>div>h4{
    font-size: 50px;
    color: white;
    left: 26%;
    top: 8%;
    position: absolute;
}

body>section:nth-child(3)>div>h4{
    font-size: 40px;
    color: white;
    left: 18%;
    top: 18%;
    position: absolute;
}

body>section:nth-child(4)>div>h4{
    font-size: 28px;
    color: white;
    left: 1%;
    top: 15%;
    position: absolute;
    text-align: center;

}
