/*Second Page*/
.aboutRec{/*about*/
    position: relative;
    width: 98.73vw;
    height: 200px;
    left:0px;
    top: 481px;
    fill: #470852;
    z-index: 1;
}

#aboutTopic{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 539px;
    top: 425px;
    z-index: 1;
    font-family: 'Arial';
    color: #FFFFFF;
    opacity: 0.4;
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 147px;
}

.aboutImage{
    position: absolute;
    width: 595px;
    height: 538px;
    lef: 30px;
    top: 645px;
}

.who{
    position: absolute;
    width: 150px;
    height: 23.23px;
    right: 37%;
    top: 770px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.div1{
    position: absolute;
    width: 15px;
    height: 15px;
    right: 636px;
    top: 832px;
    border-radius: 100%;
    border: 3px solid white;
}

.paragraph{
    position: absolute;
    width: 614px;
    height: 161.34px;
    right: 30px;
    top: 815px;
    font-family: 'Arial';
    color: #FFFFFF;
    text-align: justify;

}

@media all and (width: 320px){
    .aboutRec{/*about*/
        position: relative;
        width: 100vw;
        height: 70px;
        left: 0px;
        top: 533px;
        fill: #470852;
        z-index: 1;
    }

    #aboutTopic{
        position: absolute;
        width: 349px;
        height: 147px;
        left: 95px;
        top: 478px;
        z-index: 1;
        font-family: 'Arial';
        color: #FFFFFF;
        opacity: 0.4;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 147px;
    }

    .aboutImage{
        position: absolute;
        width: 262px;
        height: 262px;
        left: 27px;
        top: 603px;
    }

    .who{
        position: absolute;
        width: 150px;
        height: 23.23px;
        right: 37%;
        top: 770px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #FFFFFF;
        display: none;
    }

    .div1{
        position: absolute;
        width: 15px;
        height: 15px;
        right: 636px;
        top: 832px;
        border-radius: 100%;
        border: 3px solid white;
        display: none;
    }

    .paragraph{
        position: absolute;
        width: 614px;
        height: 161.34px;
        right: 30px;
        top: 815px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        display: none;
    }
}