/*Second Page*/
#secondPage{
    height: 656px;
    background-color: darkblue;
}
.aboutRec{/*about*/
    position: relative;
    width: 98.73vw;
    height: 200px;
    left: 0px;
    top: 0px;
    fill: #470852;
    z-index: 1;
}

#aboutTopic{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 539px;
    top: 436px;
    z-index: 1;
    font-family: 'Arial';
    color: #FFFFFF;
    opacity: 0.4;
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 147px;
}

.aboutImage{
    position: absolute;
    width: 595px;
    height: 538px;
    lef: 30px;
    top: 645px;
}

.who{
    position: absolute;
    width: 150px;
    height: 23.23px;
    right: 37%;
    top: 770px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.div1{
    position: absolute;
    width: 15px;
    height: 15px;
    right: 636px;
    top: 832px;
    border-radius: 100%;
    border: 3px solid white;
}

.paragraph1{
    position: absolute;
    width: 609px;
    height: 135.34px;
    right: 18px;
    top: 818px;
    font-family: 'Arial';
    color: #FFFFFF;
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.paragraph2{
    position: absolute;
    width: 607px;
    height: 135.34px;
    right: 21px;
    top: 875px;
    font-family: 'Arial';
    color: #FFFFFF;
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.cv{
    position: absolute;
    width: 129px;
    height: 40px;
    margin-top: -148px;
    margin-left: 143px;
    color: #FFFFFF;
    font-family: Arial;
    border-radius: 15px;
    border-color: #FFFFFF;
    background-color: #701C7D;
    font-weight: bold;
}

.cv:hover {
    background-color: white;
    color: #701C7D;

    border: 3px solid #701C7D;
}

/*================================== 320 ->Mobile -S ==================================*/
@media all and (width: 320px){
    #secondPage{
        height: 596px;
        background-color: darkblue;
    }
    .aboutRec{/*about*/
        position: relative;
        width: 100vw;
        height: 70px;
        left: 0px;
        top: 0px;
        fill: #470852;
        z-index: 1;
    }

    #aboutTopic{
        position: absolute;
        width: 349px;
        height: 147px;
        left: 95px;
        top: 483px;
        z-index: 1;
        font-family: 'Arial';
        color: #FFFFFF;
        opacity: 0.4;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 147px;
    }

    .aboutImage{
        position: absolute;
        width: 262px;
        height: 262px;
        left: 27px;
        top: 603px;
    }

    .who{
        position: absolute;
        width: 150px;
        height: 23.23px;
        right: 14%;
        top: 850px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }

    .div1{
        position: absolute;
        width: 9px;
        height: 9px;
        right: 279px;
        top: 887px;
        border-radius: 100%;
        border: 3px solid white;
    }

    .paragraph1{
        position: absolute;
        width: 238px;
        height: 135.34px;
        right: 35px;
        top: 875px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 11px;
    }

    .paragraph2{
        position: absolute;
        width: 238px;
        height: 135.34px;
        right: 37px;
        top: 923px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 11px;
    }
    .cv{
        position: absolute;
        width: 122px;
        height: 34px;
        margin-top: -107px;
        margin-left: -52px;
        color: #FFFFFF;
        font-family: Arial;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #701C7D;
        font-weight: bold;
    }

    .cv:hover {
        background-color: white;
        color: #701C7D;

        border: 3px solid #701C7D;
    }
}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px) {
    #secondPage{
        height: 686px;
        background-color: darkblue;
    }
    .aboutRec{/*about*/
        position: relative;
        width: 100vw;
        height: 80px;
        left: 0px;
        top: 0px;
        fill: #470852;
        z-index: 1;
    }

    #aboutTopic{
        position: absolute;
        width: 349px;
        height: 147px;
        left: 116px;
        top: 523px;
        z-index: 1;
        font-family: 'Arial';
        color: #FFFFFF;
        opacity: 0.4;
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 147px;
    }

    .aboutImage{
        position: absolute;
        width: 341px;
        height: 319px;
        left: 17px;
        top: 656px;
    }

    .who{
        position: absolute;
        width: 150px;
        height: 23.23px;
        right: 19%;
        top: 965px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }

    .div1{
        position: absolute;
        width: 11px;
        height: 11px;
        right: 333px;
        top: 1006px;
        border-radius: 100%;
        border: 3px solid white;
    }

    .paragraph1{
        position: absolute;
        width: 295px;
        height: 135.34px;
        right: 35px;
        top: 994px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 13px;
    }

    .paragraph2{
        position: absolute;
        width: 295px;
        height: 135.34px;
        right: 37px;
        top: 1056px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 13px;
    }
    .cv{
        position: absolute;
        width: 123px;
        height: 36px;
        margin-top: -97px;
        margin-left: -52px;
        color: #FFFFFF;
        font-family: Arial;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #701C7D;
        font-weight: bold;
    }

    .cv:hover {
        background-color: white;
        color: #701C7D;

        border: 3px solid #701C7D;
    }
}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){
    #secondPage{
        height: 686px;
        background-color: darkblue;
    }
    .aboutRec{/*about*/
        position: relative;
        width: 100vw;
        height: 90px;
        left: 0px;
        top: 0px;
        fill: #470852;
        z-index: 1;
    }

    #aboutTopic{
        position: absolute;
        width: 349px;
        height: 147px;
        left: 120px;
        top: 525px;
        z-index: 1;
        font-family: 'Arial';
        color: #FFFFFF;
        opacity: 0.4;
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 147px;
    }

    .aboutImage{
        position: absolute;
        width: 362px;
        height: 351px;
        left: 35px;
        top: 650px;
    }

    .who{
        position: absolute;
        width: 150px;
        height: 23.23px;
        right: 23%;
        top: 1001px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }

    .div1{
        position: absolute;
        width: 15px;
        height: 15px;
        right: 376px;
        top: 1041px;
        border-radius: 100%;
        border: 3px solid white;
    }

    .paragraph1{
        position: absolute;
        width: 330px;
        height: 135.34px;
        right: 40px;
        top: 1023px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 14px;
        letter-spacing: 0.03em;
    }

    .paragraph2{
        position: absolute;
        width: 330px;
        height: 135.34px;
        right: 40px;
        top: 1066px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 14px;
        letter-spacing: 0.03em;
    }

    .cv{
        position: absolute;
        width: 120px;
        height: 29px;
        margin-top: -74px;
        margin-left: -48px;
        color: #FFFFFF;
        font-family: Arial;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #701C7D;
        font-weight: bold;
    }

    .cv:hover {
        background-color: white;
        color: #701C7D;

        border: 3px solid #701C7D;
    }
}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){
    #secondPage{
        height: 554px;
        background-color: darkblue;
    }
    .aboutRec{/*about*/
        position: relative;
        width: 100vw;
        height: 143px;
        left: 0px;
        top: 0px;
        fill: #470852;
        z-index: 1;
    }

    #aboutTopic{
        position: absolute;
        width: 349px;
        height: 147px;
        left: 248px;
        top: 392px;
        z-index: 1;
        font-family: 'Arial';
        color: #FFFFFF;
        opacity: 0.4;
        font-style: normal;
        font-weight: 700;
        font-size: 110px;
        line-height: 147px;
    }

    .aboutImage{
        position: absolute;
        width: 371px;
        height: 404px;
        left: 6px;
        top: 611px;
    }

    .who{
        position: absolute;
        width: 150px;
        height: 23.23px;
        right: 31%;
        top: 677px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }

    .div1{
        position: absolute;
        width: 15px;
        height: 15px;
        right: 372px;
        top: 712px;
        border-radius: 100%;
        border: 3px solid white;
    }

    .paragraph1{
        position: absolute;
        width: 330px;
        height: 135.34px;
        right: 40px;
        top: 697px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 14px;
        letter-spacing: 0.03em;
    }

    .paragraph2{
        position: absolute;
        width: 330px;
        height: 135.34px;
        right: 40px;
        top: 747px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 14px;
        letter-spacing: 0.03em;
    }

    .cv{
        position: absolute;
        width: 123px;
        height: 33px;
        margin-top: -145px;
        margin-left: 124px;
        color: #FFFFFF;
        font-family: Arial;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #701C7D;
        font-weight: bold;
    }

    .cv:hover {
        background-color: white;
        color: #701C7D;

        border: 3px solid #701C7D;
    }
}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){
    .aboutRec{/*about*/
        position: relative;
        width: 100vw;
        height: 200px;
        left: 0px;
        top: 0px;
        fill: #470852;
        z-index: 1;
    }

    #aboutTopic{
        position: absolute;
        width: 349px;
        height: 147px;
        left: 360px;
        top: 423px;
        z-index: 1;
        font-family: 'Arial';
        color: #FFFFFF;
        opacity: 0.4;
        font-style: normal;
        font-weight: 700;
        font-size: 128px;
        line-height: 147px;
    }

    .aboutImage{
        position: absolute;
        width: 412px;
        height: 466px;
        left: 9px;
        top: 679px;
    }

    .who{
        position: absolute;
        width: 150px;
        height: 23.23px;
        right: 42%;
        top: 770px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }

    .div1{
        position: absolute;
        width: 15px;
        height: 15px;
        right: 567px;
        top: 832px;
        border-radius: 100%;
        border: 3px solid white;
    }

    .paragraph1{
        position: absolute;
        width: 517px;
        height: 135.34px;
        right: 42px;
        top: 818px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 16px;
        letter-spacing: 0.03em;
    }

    .paragraph2{
        position: absolute;
        width: 517px;
        height: 135.34px;
        right: 42px;
        top: 875px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 16px;
        letter-spacing: 0.03em;
    }

    .cv{
        position: absolute;
        width: 129px;
        height: 40px;
        margin-top: -157px;
        margin-left: 124px;
        color: #FFFFFF;
        font-family: Arial;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #701C7D;
        font-weight: bold;
    }

    .cv:hover {
        background-color: white;
        color: #701C7D;

        border: 3px solid #701C7D;
    }
}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){
    /*.aboutRec{!*about*!
        position: relative;
        width: 100%;
        height: 200px;
        left:0px;
        top: 481px;
        fill: #470852;
        z-index: 1;
    }

    #aboutTopic{
        position: absolute;
        width: 349px;
        height: 147px;
        left: 538px;
        top: 425px;
        z-index: 1;
        font-family: 'Arial';
        color: #FFFFFF;
        opacity: 0.4;
        font-style: normal;
        font-weight: 700;
        font-size: 128px;
        line-height: 147px;
    }

    .aboutImage{
        position: absolute;
        width: 595px;
        height: 538px;
        lef: 30px;
        top: 645px;
    }

    .who{
        position: absolute;
        width: 150px;
        height: 23.23px;
        right: 37%;
        top: 770px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }

    .div1{
        position: absolute;
        width: 15px;
        height: 15px;
        right: 636px;
        top: 832px;
        border-radius: 100%;
        border: 3px solid white;
    }

    .paragraph1{
        position: absolute;
        width: 609px;
        height: 135.34px;
        right: 18px;
        top: 818px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 16px;
        letter-spacing: 0.03em;
    }

    .paragraph2{
        position: absolute;
        width: 607px;
        height: 135.34px;
        right: 21px;
        top: 875px;
        font-family: 'Arial';
        color: #FFFFFF;
        text-align: justify;
        font-size: 16px;
        letter-spacing: 0.03em;
    }

    .cv{
        position: absolute;
        width: 129px;
        height: 40px;
        margin-top: 756px;
        margin-left: 143px;
        color: #FFFFFF;
        font-family: Arial;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #701C7D;
        font-weight: bold;
    }

    .cv:hover {
        background-color: white;
        color: #701C7D;

        border: 3px solid #701C7D;
    }*/
}

/* ================================== 4K ================================== */
@media all and (min-width: 1441px) and (max-width: 2560px){

}