.WelcomeRectangle{
    position: absolute;
    width: 160px;
    height: 30px;
    left: 112px;
    top: 168px;
    fill: white;
    z-index: 1;

   /* position: absolute;
    width: 180px;
    height: 40px;

    left: 112px;
    top: 150px;
    z-index: 1;

    background: wheat;
    border-radius: 10px;
    fill: wheat;
    opacity: 0.2;*/

}

#welcome{
    position: absolute;
    width: 101px;
    height: 20px;
    left: 139px;
    top: 142px;
    z-index: 1;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color : #701C7D;
}

body{
    background: #701C7D;
}

#myName{
    position: absolute;
    width: 414px;
    height: 55px;
    left: 109px;
    top: 215px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: white;
}

#myPost{
    position: absolute;
    width: 282px;
    height: 17px;
    left: 125px;
    top: 305px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;

    color: #FFFFFF;
}

.btnGetStarted{
    position: absolute;
    width: 137px;
    height: 35px;
    left: 198px;
    top: 405px;
    color: #701C7D;
    z-index: 1;
    border-radius: 15px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    font-weight: bolder;
}

.myProfile{
    position: absolute;
    width: 375px;
    height: 358px;
    left: 814px;
    top: 125px;
    z-index: 1;
}

#follow{
    position: absolute;
    left: 1180px;
    top: 174.5px;
    transform: rotate(90deg);
    color: #FFFFFF;
    font-family:"Calibri";
    font-size: 14px;
    height: 150px;
    width: 300px;
}

.verticalLine{
    height: 46px;
    border: 1px solid #FFFFFF;
    position: absolute;
    left: 1395px;
    top: 250px;
}

.linkedinWhite{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1379.5px;
    top: 321px;
}

.githubWhite{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1379.5px;
    top: 361px;
}

.aboutRec{
    position: absolute;
    width: 1440px;
    height: 200px;
    left:0px;
    top: 481px;
    fill: #470852;
    z-index: 1;
}

#aboutTopic{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 539px;
    top: 410px;
    z-index: 1;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 147px;

    color: #FFFFFF;

    opacity: 0.4;
}

.aboutImage{
    position: absolute;
    width: 595px;
    height: 538px;
    left: 30px;
    top: 645px;
}

.who{
    position: absolute;
    width: 150px;
    height: 23.23px;
    left: 730px;
    top: 770px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;

    color: #FFFFFF;
}

.paragraph{
    position: absolute;
    width: 614px;
    height: 161.34px;
    left: 735px;
    top: 815px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
    text-align: justify;

}

body>main>section:nth-child(4)>div{
    position: absolute;
    width: 1440px;
    height: 200px;
    left: 0px;
    top: 190%;
    background-color: #470852;
    z-index: 1;
}

#skills{
    position: absolute;
    width: 349px;
    height: 147px;
    left: 539px;
    top: 180%;
    z-index: 1;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 147px;

    color: #FFFFFF;

    opacity: 0.4;
}
