/*Fifth Page*/

.contactRec{
    position: relative;
    width: 98.73vw;
    height: 400px;
    left: 0px;
    top: 1700px;
    z-index: 1;
    fill: white;


}

#get{
    position: absolute;
    width: 287px;
    height: 46px;
    left: 39.5%;
    top: 3503px;
    font-family: 'Arial';
    color: black;
    z-index: 1;
    font-size: 30px;
    margin-bottom: 15px;
}

#let{
    position: absolute;
    width: 600px;
    height: 46px;
    left: 29%;
    top: 3542px;
    font-family: 'Arial';
    color: black;
    z-index: 1;
    font-size: 35px;

}

.first{
    position: absolute;
    width: 972px;
    height: 29px;
    left: 13.5%;
    top: 3622px;
    font-family: 'Arial';
    font-size: 20px;
    color: black;
    z-index: 1;
}

.second{
    position: absolute;
    width: 972px;
    height: 29px;
    left: 13.5%;
    top: 3653px;
    font-family: 'Arial';
    font-size: 20px;
    color: black;
    z-index: 1;
}

.smallpic{
    position: absolute;
    left: 37%;
    top: 3728px;
    z-index: 2;
}

.greenCircle{
    position: absolute;
    width: 10px;
    height: 10px;
    left:38.5%;
    top: 3752px;
    border-radius: 100%;
    background: #00F461;
    z-index: 2;
}

.Circle{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 37%;
    top: 3728px;
    border-radius: 100%;
    background: white;
    z-index: 1;
}

#reply{
    position: absolute;
    width: 255px;
    height: 29px;
    left: 37.5%;
    top: 3720px;
    font-size: 15px;
    font-family: 'Arial';
    color: black;
    z-index: 1;
}

.gmail{
    position: absolute;
    width: 237px;
    height: 30px;
    left: 450px;
    top: 238em;
    border-radius: 5px;
    background-color: #701C7D;
    z-index: 1;
    border: #701C7D;
}

.number {
    position: absolute;
    width: 170px;
    height: 30px;
    right: 33%;
    top: 238em;
    border-radius: 5px;
    background-color: #3ABB56;
    z-index: 1;
    border: #3ABB56;
}

#tel{
    color: #FFFFFF;
    font-family: Arial;
}

/*================================== 320 ->Mobile -S ==================================*/
@media all and (width: 320px){
    /*Fifth Page*/

    .contactRec{
        position: relative;
        width: 100vw;
        height: 400px;
        left: 0px;
        top: 1305px;
        z-index: 1;
        fill: white;
    }

    #get{
        position: absolute;
        width: 287px;
        height: 46px;
        left: 7%;
        top: 1999px;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 16px;
        margin-bottom: 15px;
    }

    #let{
        position: absolute;
        width: 289px;
        height: 46px;
        left: 6%;
        top: 2023px;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 23px;
    }

    .first{
        position: absolute;
        width: 351px;
        height: 29px;
        left: -5%;
        top: 2085px;
        font-family: 'Arial';
        font-size: 11px;
        color: black;
        z-index: 1;
    }

    .second{
        position: absolute;
        width: 311px;
        height: 29px;
        left: 0%;
        top: 2114px;
        font-family: 'Arial';
        font-size: 11px;
        color: black;
        z-index: 1;
    }

    .smallpic{
        position: absolute;
        left: 23%;
        top: 2174px;
        z-index: 2;
    }

    .greenCircle{
        position: absolute;
        width: 10px;
        height: 10px;
        left: 29%;
        top: 2198px;
        border-radius: 100%;
        background: #00F461;
        z-index: 2;
    }

    .Circle{
        position: absolute;
        width: 30px;
        height: 30px;
        left: 23%;
        top: 2174px;
        border-radius: 100%;
        background: white;
        z-index: 1;
    }

    #reply{
        position: absolute;
        width: 255px;
        height: 29px;
        left: 21%;
        top: 2171px;
        font-size: 12px;
        font-family: 'Arial';
        color: black;
        z-index: 1;
    }

    .gmail{
        position: absolute;
        width: 219px;
        height: 39px;
        left: 51px;
        top: 140em;
        border-radius: 5px;
        background-color: #701C7D;
        z-index: 1;
        border: #701C7D;
    }

    .number {
        position: absolute;
        width: 170px;
        height: 30px;
        right: 23%;
        top: 143em;
        border-radius: 5px;
        background-color: #3ABB56;
        z-index: 1;
        border: #3ABB56;
    }

    #tel{
        color: #FFFFFF;
        font-family: Arial;
        font-size: 13px;
    }

    #email{
        font-size: 13px;
    }
}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px) {

}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){

}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){
    .contactRec{
        position: relative;
        width: 100vw;
        height: 400px;
        left: 0px;
        top: 1466px;
        z-index: 1;
        fill: white;
    }

    #get{
        position: absolute;
        width: 287px;
        height: 46px;
        left: 35%;
        top: 2984px;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 25px;
        margin-bottom: 15px;
    }

    #let{
        position: absolute;
        width: 512px;
        height: 46px;
        left: 21%;
        top: 3018px;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 35px;

    }

    .first{
        position: absolute;
        width: 606px;
        height: 29px;
        left: 15%;
        top: 3089px;
        font-family: 'Arial';
        font-size: 15px;
        color: black;
        z-index: 1;
    }

    .second{
        position: absolute;
        width: 606px;
        height: 29px;
        left: 15%;
        top: 3114px;
        font-family: 'Arial';
        font-size: 15px;
        color: black;
        z-index: 1;
    }

    .smallpic{
        position: absolute;
        left: 37%;
        top: 3181px;
        z-index: 2;
    }

    .greenCircle{
        position: absolute;
        width: 10px;
        height: 10px;
        left: 39.5%;
        top: 3205px;
        border-radius: 100%;
        background: #00F461;
        z-index: 2;
    }

    .Circle{
        position: absolute;
        width: 30px;
        height: 30px;
        left: 37%;
        top: 3181px;
        border-radius: 100%;
        background: white;
        z-index: 1;
    }

    #reply{
        position: absolute;
        width: 255px;
        height: 29px;
        left: 37.5%;
        top: 3174px;
        font-size: 15px;
        font-family: 'Arial';
        color: black;
        z-index: 1;
    }

    .gmail{
        position: absolute;
        width: 237px;
        height: 30px;
        left: 174px;
        top: 204em;
        border-radius: 5px;
        background-color: #701C7D;
        z-index: 1;
        border: #701C7D;
    }

    .number {
        position: absolute;
        width: 170px;
        height: 30px;
        right: 19%;
        top: 204em;
        border-radius: 5px;
        background-color: #3ABB56;
        z-index: 1;
        border: #3ABB56;
    }

    #tel{
        color: #FFFFFF;
        font-family: Arial;
    }
}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){
    .contactRec{
        position: relative;
        width: 100vw;
        height: 400px;
        left: 0px;
        top: 1700px;
        z-index: 1;
        fill: white;
    }

    #get{
        position: absolute;
        width: 287px;
        height: 46px;
        left: 37%;
        top: 3503px;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 30px;
        margin-bottom: 15px;
    }

    #let{
        position: absolute;
        width: 600px;
        height: 46px;
        left: 21%;
        top: 3542px;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 35px;

    }

    .first{
        position: absolute;
        width: 972px;
        height: 29px;
        left: 2%;
        top: 3622px;
        font-family: 'Arial';
        font-size: 20px;
        color: black;
        z-index: 1;
    }

    .second{
        position: absolute;
        width: 972px;
        height: 29px;
        left: 2%;
        top: 3653px;
        font-family: 'Arial';
        font-size: 20px;
        color: black;
        z-index: 1;
    }

    .smallpic{
        position: absolute;
        left: 37%;
        top: 3728px;
        z-index: 2;
    }

    .greenCircle{
        position: absolute;
        width: 10px;
        height: 10px;
        left:38.5%;
        top: 3752px;
        border-radius: 100%;
        background: #00F461;
        z-index: 2;
    }

    .Circle{
        position: absolute;
        width: 30px;
        height: 30px;
        left: 37%;
        top: 3728px;
        border-radius: 100%;
        background: white;
        z-index: 1;
    }

    #reply{
        position: absolute;
        width: 255px;
        height: 29px;
        left: 37.5%;
        top: 3720px;
        font-size: 15px;
        font-family: 'Arial';
        color: black;
        z-index: 1;
    }

    .gmail{
        position: absolute;
        width: 237px;
        height: 30px;
        left: 283px;
        top: 238em;
        border-radius: 5px;
        background-color: #701C7D;
        z-index: 1;
        border: #701C7D;
    }

    .number {
        position: absolute;
        width: 170px;
        height: 30px;
        right: 27%;
        top: 238em;
        border-radius: 5px;
        background-color: #3ABB56;
        z-index: 1;
        border: #3ABB56;
    }

    #tel{
        color: #FFFFFF;
        font-family: Arial;
    }
}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){

}

/* ================================== 4K ================================== */
@media all and (min-width: 1441px) and (max-width: 2560px){

}