/*Footer*/
body>footer{
    position: relative;
    width: 98.73vw;
    height: 450px;
    left: 0px;
    bottom:0;
    background-color: #470852;
}

#email{
    color: #FFFFFF;
    font-family: Arial;
}
a{
    text-decoration:none;
}

body>footer>section>section:first-child{
    border-radius: 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    left: 528px;
    bottom: 110px;
    background: #470852;
    border: 2px dashed #FFFFFF;
}

#hi{
    position: absolute;
    width: 361px;
    height: 74px;
    right: -32px;
    bottom: 130px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 74px;
    color: #FFFFFF;
    z-index: 3;
}

.gmail2{
    position: absolute;
    width: 323px;
    height: 29px;
    right: -15px;
    bottom: 128px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    color: #FFFFFF;
}

#email2{
    color: #FFFFFF;
    font-family: Arial;
}

a {
    text-decoration: none;
}

.iconGithub\&LinkedIn{
    position: absolute;
    width: 45px;
    height: 45px;
    right: 141px;
    bottom: 35px;
}

body>footer>section>section:nth-child(2)>hr{
    position: absolute;
    width: 98.6vw;
    height: 0px;
    left: 0px;
    bottom: 70px;
    border: 1px solid #FFFFFF;
}

body>footer>section>section:nth-child(2)>p{
    position: absolute;
    width: 260px;
    height: 14px;
    right: 530px;
    bottom: 5px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    /*font-size: 10px;*/
    line-height: 14px;
    color: #FFFFFF;
}

/*================================== 320 ->Mobile -S ==================================*/
@media all and (width: 320px){
    /*Footer*/
    body>footer{
        position: relative;
        width: 100vw;
        height: 332px;
        left: 0px;
        bottom: -1232px;
        background-color: #470852;
    }

    a{
        text-decoration:none;
    }

    body>footer>section>section:first-child{
        border-radius: 100%;
        position: absolute;
        width: 200px;
        height: 200px;
        left: 60px;
        bottom: 95px;
        background: #470852;
        border: 2px dashed #FFFFFF;
    }

    #hi{
        position: absolute;
        width: 361px;
        height: 74px;
        right: -81px;
        bottom: 83px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 74px;
        color: #FFFFFF;
        z-index: 3;
    }

    .gmail2{
        position: absolute;
        width: 225px;
        height: 29px;
        right: -15px;
        bottom: 76px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 29px;
        color: #FFFFFF;

    }

    #email2{
        color: #FFFFFF;
        font-family: Arial;
    }

    a {
        text-decoration: none;
    }

    .iconGithub\&LinkedIn{
        position: absolute;
        width: 25px;
        height: 25px;
        right: 109px;
        bottom: 20px;

    }

    #git{
        width: 30px;
        height: 30px;
    }
    #linked{
        width: 30px;
        height: 30px;
    }

    body>footer>section>section:nth-child(2)>hr{
        position: absolute;
        width: 99.8vw;
        height: 0px;
        left: 0px;
        bottom: 70px;
        border: 1px solid #FFFFFF;
    }

    body>footer>section>section:nth-child(2)>p{
        position: absolute;
        width: 260px;
        height: 14px;
        right: 29px;
        bottom: 5px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        /* font-size: 10px; */
        line-height: 14px;
        color: #FFFFFF;
    }

    .copyRight{
        font-size: 10px;
    }
}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px) {

}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){
    body>footer{
        position: relative;
        width: 100vw;
        height: 390px;
        left: 0px;
        bottom: -1392px;
        background-color: #470852;
        display: none;
    }

    #email{
        color: #FFFFFF;
        font-family: Arial;
    }
    a{
        text-decoration:none;
    }

    body>footer>section>section:first-child{
        border-radius: 100%;
        position: absolute;
        width: 250px;
        height: 250px;
        left: 273px;
        bottom: 110px;
        background: #470852;
        border: 2px dashed #FFFFFF;
        display: none;
    }

    #hi{
        position: absolute;
        width: 361px;
        height: 74px;
        right: -54px;
        bottom: 103px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 74px;
        color: #FFFFFF;
        z-index: 3;
        display: none;
    }

    .gmail2{
        position: absolute;
        width: 323px;
        height: 29px;
        right: -37px;
        bottom: 105px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 29px;
        color: #FFFFFF;
        display: none;
    }

    #email2{
        color: #FFFFFF;
        font-family: Arial;
        display: none;
    }

    a {
        text-decoration: none;
    }

    .iconGithub\&LinkedIn{
        position: absolute;
        width: 25px;
        height: 25px;
        right: 141px;
        bottom: 35px;
        display: none;
    }

    body>footer>section>section:nth-child(2)>hr{
        position: absolute;
        width: 100vw;
        height: 0px;
        left: 0px;
        bottom: 70px;
        border: 1px solid #FFFFFF;
        display: none;
    }

    body>footer>section>section:nth-child(2)>p{
        position: absolute;
        width: 260px;
        height: 14px;
        right: 234px;
        bottom: 5px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
        display: none;
    }
}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){
    body>footer{
        position: relative;
        width: 100vw;
        height: 390px;
        left: 0px;
        bottom: -1392px;
        background-color: #470852;
    }

    #email{
        color: #FFFFFF;
        font-family: Arial;
    }
    a{
        text-decoration:none;
    }

    body>footer>section>section:first-child{
        border-radius: 100%;
        position: absolute;
        width: 250px;
        height: 250px;
        left: 273px;
        bottom: 110px;
        background: #470852;
        border: 2px dashed #FFFFFF;
    }

    #hi{
        position: absolute;
        width: 361px;
        height: 74px;
        right: -54px;
        bottom: 103px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 74px;
        color: #FFFFFF;
        z-index: 3;
    }

    .gmail2{
        position: absolute;
        width: 323px;
        height: 29px;
        right: -37px;
        bottom: 105px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 29px;
        color: #FFFFFF;
    }

    #email2{
        color: #FFFFFF;
        font-family: Arial;
    }

    a {
        text-decoration: none;
    }

    .iconGithub\&LinkedIn{
        position: absolute;
        width: 25px;
        height: 25px;
        right: 141px;
        bottom: 35px;
    }

    body>footer>section>section:nth-child(2)>hr{
        position: absolute;
        width: 100vw;
        height: 0px;
        left: 0px;
        bottom: 70px;
        border: 1px solid #FFFFFF;
    }

    body>footer>section>section:nth-child(2)>p{
        position: absolute;
        width: 260px;
        height: 14px;
        right: 234px;
        bottom: 5px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
    }
}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){
    body>footer{
        position: relative;
        width: 100vw;
        height: 450px;
        left: 0px;
        bottom:-1628px;
        background-color: #470852;
    }

    #email{
        color: #FFFFFF;
        font-family: Arial;
    }
    a{
        text-decoration:none;
    }

    body>footer>section>section:first-child{
        border-radius: 100%;
        position: absolute;
        width: 300px;
        height: 300px;
        left: 376px;
        bottom: 110px;
        background: #470852;
        border: 2px dashed #FFFFFF;
    }

    #hi{
        position: absolute;
        width: 361px;
        height: 74px;
        right: -32px;
        bottom: 130px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 74px;
        color: #FFFFFF;
        z-index: 3;
    }

    .gmail2{
        position: absolute;
        width: 323px;
        height: 29px;
        right: -15px;
        bottom: 128px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 29px;
        color: #FFFFFF;
    }

    #email2{
        color: #FFFFFF;
        font-family: Arial;
    }

    a {
        text-decoration: none;
    }

    .iconGithub\&LinkedIn{
        position: absolute;
        width: 45px;
        height: 45px;
        right: 141px;
        bottom: 35px;
    }

    body>footer>section>section:nth-child(2)>hr{
        position: absolute;
        width: 100vw;
        height: 0px;
        left: 0px;
        bottom: 70px;
        border: 1px solid #FFFFFF;
    }

    body>footer>section>section:nth-child(2)>p{
        position: absolute;
        width: 260px;
        height: 14px;
        right: 353px;
        bottom: 5px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        /*font-size: 10px;*/
        line-height: 14px;
        color: #FFFFFF;
    }
}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){

}

/* ================================== 4K ================================== */
@media all and (min-width: 1441px) and (max-width: 2560px){

}