.MenuRectangle{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 1440px;

    background: #701C7D;;
}

.logo{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 10px;
    top: -5px;
    z-index: 1;
}
body>header>nav>ul>li{
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
    left: 60%;
    top: -20px;
    font-family: 'Doppio One', sans-serif;
}
