/*Home Page*/
.WelcomeRectangle{
    position: absolute;
    width: 160px;
    height: 30px;
    left: 112px;
    top: 168px;
    fill: white;
    z-index: 1;

   /* position: absolute;
    width: 180px;
    height: 40px;

    left: 112px;
    top: 150px;
    z-index: 1;

    background: wheat;
    border-radius: 10px;
    fill: wheat;
    opacity: 0.2;*/

}

#welcome{
    position: absolute;
    width: 101px;
    height: 20px;
    left: 139px;
    top: 142px;
    z-index: 1;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color : #701C7D;
}

body{
    background: #701C7D;
}

#myName{
    position: absolute;
    width: 414px;
    height: 55px;
    left: 109px;
    top: 215px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: white;
}

#myPost{
    position: absolute;
    width: 282px;
    height: 17px;
    left: 125px;
    top: 268px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;

    color: #FFFFFF;
}

.btnGetStarted{
    position: absolute;
    width: 137px;
    height: 35px;
    left: 198px;
    top: 405px;
    color: #701C7D;
    z-index: 1;
    border-radius: 15px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    font-weight: bolder;
}

.myProfile{
    position: absolute;
    width: 375px;
    height: 358px;
    right: 14%;
    top: 147px;
    z-index: 1;
}

body>main>section>section>div:nth-child(3){
    position: absolute;
    width: 235px;
    height: 235px;
    right: 271px;
    top: 248px;
    background: #FDFDFF;
    border-radius: 100%;
}

body>main>section>section>div:nth-child(4){
    position: absolute;
    width: 300px;
    height: 300px;
    right: 125px;
    top: 155px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.4);
    border: 2px dashed #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#follow{
    position: absolute;
    right: -3%;
    top: 174.5px;
    transform: rotate(90deg);
    color: #FFFFFF;
    font-family:"Calibri";
    font-size: 14px;
    height: 150px;
    width: 300px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.verticalLine{
    height: 46px;
    border: 1px solid #FFFFFF;
    position: absolute;
    right: 3%;
    top: 250px;
}

.linkedinWhite{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 1.7%;
    top: 321px;
}

.githubWhite{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 1.7%;
    top: 361px;
}







/*Fifth Page*/

.contactRec{
    position: relative;
    width: 98.73vw;
    height: 400px;
    left: 0px;
    top: 1700px;
    z-index: 1;
    fill: white;


}

#get{
    position: absolute;
    width: 287px;
    height: 46px;
    left: 39.5%;
    top: 2970px;
    font-family: 'Arial';
    color: black;
    z-index: 1;
    font-size: 30px;
    margin-bottom: 15px;
}

#let{
    position: absolute;
    width: 600px;
    height: 46px;
    left: 28%;
    top: 3010px;
    font-family: 'Arial';
    color: black;
    z-index: 1;
    font-size: 35px;

}

.first{
    position: absolute;
    width: 972px;
    height: 29px;
    left: 13.5%;
    top: 3100px;
    font-family: 'Arial';
    font-size: 20px;
    color: black;
    z-index: 1;
}

.second{
    position: absolute;
    width: 972px;
    height: 29px;
    left: 13.5%;
    top: 3130px;
    font-family: 'Arial';
    font-size: 20px;
    color: black;
    z-index: 1;
}

.smallpic{
    position: absolute;
    left: 37%;
    top: 3213px;
    z-index: 2;
}

.greenCircle{
    position: absolute;
    width: 10px;
    height: 10px;
    left:38.5%;
    top: 3237px;
    border-radius: 100%;
    background: #00F461;
    z-index: 2;
}

.Circle{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 37%;
    top: 3213px;
    border-radius: 100%;
    background: white;
    z-index: 1;
}

#reply{
    position: absolute;
    width: 255px;
    height: 29px;
    left: 37.5%;
    top: 3205px;
    font-size: 15px;
    font-family: 'Arial';
    color: black;
    z-index: 1;
}

.gmail{
    position: absolute;
    width: 237px;
    height: 30px;
    left: 450px;
    top: 206em;
    border-radius: 5px;
    background-color: #701C7D;
    z-index: 1;
    border: #701C7D;
}

.number {
    position: absolute;
    width: 170px;
    height: 30px;
    right: 33%;
    top: 206em;
    border-radius: 5px;
    background-color: #3ABB56;
    z-index: 1;
    border: #3ABB56;
}

#tel{
    color: #FFFFFF;
    font-family: Arial;
}

/*Footer*/
body>footer{
    position: relative;
    width: 98.73vw;
    height: 450px;
    left: 0px;
    bottom:-1628px;
    background-color: #470852;
}

#email{
    color: #FFFFFF;
    font-family: Arial;
}
a{
    text-decoration:none;
}

body>footer>section>section:first-child{
    border-radius: 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    left: 528px;
    bottom: 110px;
    background: #470852;
    border: 2px dashed #FFFFFF;
}

#hi{
    position: absolute;
    width: 361px;
    height: 74px;
    right: -32px;
    bottom: 130px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 74px;
    color: #FFFFFF;
    z-index: 3;
}

.gmail2{
    position: absolute;
    width: 323px;
    height: 29px;
    right: -15px;
    bottom: 128px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    color: #FFFFFF;
}

#email2{
    color: #FFFFFF;
    font-family: Arial;
}

a {
    text-decoration: none;
}

.iconGithub\&LinkedIn{
    position: absolute;
    width: 45px;
    height: 45px;
    right: 141px;
    bottom: 35px;
}

body>footer>section>section:nth-child(2)>hr{
    position: absolute;
    width: 98.6vw;
    height: 0px;
    left: 0px;
    bottom: 70px;
    border: 1px solid #FFFFFF;
}

body>footer>section>section:nth-child(2)>p{
    position: absolute;
    width: 260px;
    height: 14px;
    right: 530px;
    bottom: 5px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    /*font-size: 10px;*/
    line-height: 14px;
    color: #FFFFFF;
}




