/*Home Page*/
#firstPage{
    height: 502px;
    background-color: green;
}
.WelcomeRectangle{
    position: absolute;
    width: 160px;
    height: 30px;
    left: 112px;
    top: 168px;
    fill: white;
    z-index: 1;

   /* position: absolute;
    width: 180px;
    height: 40px;

    left: 112px;
    top: 150px;
    z-index: 1;

    background: wheat;
    border-radius: 10px;
    fill: wheat;
    opacity: 0.2;*/

}

#welcome{
    position: absolute;
    width: 101px;
    height: 20px;
    left: 139px;
    top: 142px;
    z-index: 1;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color : #701C7D;
}

body{
    background: #701C7D;
    overflow-x: hidden;
}

#myName{
    position: absolute;
    width: 414px;
    height: 55px;
    left: 109px;
    top: 215px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: white;
}

#myPost{
    position: absolute;
    width: 282px;
    height: 17px;
    left: 125px;
    top: 268px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;

    color: #FFFFFF;
}

.btnGetStarted{
    position: absolute;
    width: 137px;
    height: 35px;
    left: 198px;
    top: 405px;
    color: #701C7D;
    z-index: 1;
    border-radius: 15px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    font-weight: bolder;
}

.myProfile{
    position: absolute;
    width: 375px;
    height: 358px;
    right: 14%;
    top: 147px;
    z-index: 1;
}

body>main>section>section>div:nth-child(3){
    position: absolute;
    width: 235px;
    height: 235px;
    right: 271px;
    top: 248px;
    background: #FDFDFF;
    border-radius: 100%;
}

body>main>section>section>div:nth-child(4){
    position: absolute;
    width: 300px;
    height: 300px;
    right: 125px;
    top: 155px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.4);
    border: 2px dashed #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#follow{
    position: absolute;
    right: -3%;
    top: 174.5px;
    transform: rotate(90deg);
    color: #FFFFFF;
    font-family:"Calibri";
    font-size: 14px;
    height: 150px;
    width: 300px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.verticalLine{
    height: 46px;
    border: 1px solid #FFFFFF;
    position: absolute;
    right: 3%;
    top: 250px;
}

.linkedinWhite{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 1.7%;
    top: 321px;
}

.githubWhite{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 1.7%;
    top: 361px;
}

/*================================== 320 ->Mobile -S ==================================*/
@media all and (width: 320px) {
    #firstPage{
        height: 553px;
        background-color: green;
    }
    .WelcomeRectangle{
        position: absolute;
        width: 125px;
        height: 30px;
        left: 28px;
        top: 88px;
        fill: white;
        z-index: 1

        /* position: absolute;
         width: 180px;
         height: 40px;

         left: 112px;
         top: 150px;
         z-index: 1;

         background: wheat;
         border-radius: 10px;
         fill: wheat;
         opacity: 0.2;*/

    }

    #welcome{
        position: absolute;
        width: 101px;
        height: 20px;
        left: 42px;
        top: 63px;
        z-index: 1;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #701C7D;
    }

    body{
        background: #701C7D;
    }

    #myName{
        position: absolute;
        width: 263px;
        height: 55px;
        left: 30px;
        top: 121px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 55px;
        color: white;
    }

    #myPost{
        position: absolute;
        width: 282px;
        height: 17px;
        left: 37px;
        top: 157px;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;

        color: #FFFFFF;
    }

    .btnGetStarted{
        position: absolute;
        width: 96px;
        height: 29px;
        left: 94px;
        top: 251px;
        color: #701C7D;
        z-index: 1;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        font-weight: bolder;
    }

    .myProfile{
        position: absolute;
        width: 218px;
        height: 201px;
        right: 12%;
        top: 352px;
        z-index: 1;
    }

    body>main>section>section>div:nth-child(3){
        position: absolute;
        width: 132px;
        height: 132px;
        right: 89px;
        top: 407px;
        background: #FDFDFF;
        border-radius: 100%;
    }

    body>main>section>section>div:nth-child(4){
        position: absolute;
        width: 155px;
        height: 155px;
        right: 19px;
        top: 374px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.4);
        border: 2px dashed #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0,  0.25);
    }

    #follow{
        position: absolute;
        right: -3%;
        top: 174.5px;
        transform: rotate(90deg);
        color: #FFFFFF;
        font-family:"Calibri";
        font-size: 14px;
        height: 150px;
        width: 300px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        display: none;
    }

    .verticalLine{
        height: 46px;
        border: 1px solid #FFFFFF;
        position: absolute;
        right: 3%;
        top: 250px;
        display: none;
    }

    .linkedinWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 321px;
        display: none;
    }

    .githubWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 361px;
        display: none;
    }
}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px) {
    #firstPage{
        height: 594px;
        background-color: green;
    }
    .WelcomeRectangle{
        position: absolute;
        width: 125px;
        height: 30px;
        left: 28px;
        top: 88px;
        fill: white;
        z-index: 1

        /* position: absolute;
         width: 180px;
         height: 40px;

         left: 112px;
         top: 150px;
         z-index: 1;

         background: wheat;
         border-radius: 10px;
         fill: wheat;
         opacity: 0.2;*/

    }

    #welcome{
        position: absolute;
        width: 101px;
        height: 20px;
        left: 42px;
        top: 63px;
        z-index: 1;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #701C7D;
    }

    body{
        background: #701C7D;
    }

    #myName{
        position: absolute;
        width: 258px;
        height: 55px;
        left: 30px;
        top: 121px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 55px;
        color: white;
    }

    #myPost{
        position: absolute;
        width: 282px;
        height: 17px;
        left: 37px;
        top: 157px;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;

        color: #FFFFFF;
    }

    .btnGetStarted{
        position: absolute;
        width: 96px;
        height: 29px;
        left: 94px;
        top: 251px;
        color: #701C7D;
        z-index: 1;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        font-weight: bolder;
    }

    .myProfile{
        position: absolute;
        width: 250px;
        height: 233px;
        right: 12%;
        top: 362px;
        z-index: 1;
    }

    body>main>section>section>div:nth-child(3){
        position: absolute;
        width: 155px;
        height: 155px;
        right: 101px;
        top: 429px;
        background: #FDFDFF;
        border-radius: 100%;
    }

    body>main>section>section>div:nth-child(4){
        position: absolute;
        width: 185px;
        height: 185px;
        right: 19px;
        top: 374px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.4);
        border: 2px dashed #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0,  0.25);
    }

    #follow{
        position: absolute;
        right: -3%;
        top: 174.5px;
        transform: rotate(90deg);
        color: #FFFFFF;
        font-family:"Calibri";
        font-size: 14px;
        height: 150px;
        width: 300px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        display: none;
    }

    .verticalLine{
        height: 46px;
        border: 1px solid #FFFFFF;
        position: absolute;
        right: 3%;
        top: 250px;
        display: none;
    }

    .linkedinWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 321px;
        display: none;
    }

    .githubWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 361px;
        display: none;
    }
}

/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){
    #firstPage{
        height: 605px;
        background-color: green;
    }
    .WelcomeRectangle{
        position: absolute;
        width: 124px;
        height: 30px;
        left: 35px;
        top: 94px;
        fill: white;
        z-index: 1;

        /* position: absolute;
         width: 180px;
         height: 40px;

         left: 112px;
         top: 150px;
         z-index: 1;

         background: wheat;
         border-radius: 10px;
         fill: wheat;
         opacity: 0.2;*/

    }

    #welcome{
        position: absolute;
        width: 101px;
        height: 20px;
        left: 48px;
        top: 69px;
        z-index: 1;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #701C7D;
    }

    body{
        background: #701C7D;
    }

    #myName{
        position: absolute;
        width: 352px;
        height: 55px;
        left: 37px;
        top: 121px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 55px;
        color: white;
    }

    #myPost{
        position: absolute;
        width: 208px;
        height: 17px;
        left: 53px;
        top: 156px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;
        color: #FFFFFF;
    }

    .btnGetStarted{
        position: absolute;
        width: 101px;
        height: 32px;
        left: 124px;
        top: 244px;
        color: #701C7D;
        z-index: 1;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        font-weight: bolder;
    }

    .myProfile{
        position: absolute;
        width: 288px;
        height: 271px;
        right: 12%;
        top: 336px;
        z-index: 1;
    }

    body>main>section>section>div:nth-child(3){
        position: absolute;
        width: 175px;
        height: 175px;
        right: 118px;
        top: 419px;
        background: #FDFDFF;
        border-radius: 100%;
    }

    body>main>section>section>div:nth-child(4){
        position: absolute;
        width: 195px;
        height: 195px;
        right: 44px;
        top: 372px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.4);
        border: 2px dashed #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #follow{
        position: absolute;
        right: -5%;
        top: 174.5px;
        transform: rotate(90deg);
        color: #FFFFFF;
        font-family:"Calibri";
        font-size: 14px;
        height: 150px;
        width: 300px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        display: none;
    }

    .verticalLine{
        height: 46px;
        border: 1px solid #FFFFFF;
        position: absolute;
        right: 3%;
        top: 250px;
        display: none;
    }

    .linkedinWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 321px;
        display: none;
    }

    .githubWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 361px;
        display: none;
    }
}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){
    #firstPage{
        height: 469px;
        background-color: green;
    }
    .WelcomeRectangle{
        position: absolute;
        width: 139px;
        height: 30px;
        left: 35px;
        top: 168px;
        fill: white;
        z-index: 1;

        /* position: absolute;
         width: 180px;
         height: 40px;

         left: 112px;
         top: 150px;
         z-index: 1;

         background: wheat;
         border-radius: 10px;
         fill: wheat;
         opacity: 0.2;*/

    }

    #welcome{
        position: absolute;
        width: 101px;
        height: 20px;
        left: 55px;
        top: 142px;
        z-index: 1;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #701C7D;
    }

    body{
        background: #701C7D;
    }

    #myName{
        position: absolute;
        width: 414px;
        height: 55px;
        left: 37px;
        top: 208px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 55px;
        color: white;
    }

    #myPost{
        position: absolute;
        width: 282px;
        height: 17px;
        left: 53px;
        top: 245px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: #FFFFFF;
    }

    .btnGetStarted{
        position: absolute;
        width: 119px;
        height: 33px;
        left: 131px;
        top: 333px;
        color: #701C7D;
        z-index: 1;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        font-weight: bolder;
    }

    .myProfile{
        position: absolute;
        width: 311px;
        height: 294px;
        right: 12%;
        top: 175px;
        z-index: 1;
    }

    body>main>section>section>div:nth-child(3){
        position: absolute;
        width: 189px;
        height: 189px;
        right: 162px;
        top: 262px;
        background: #FDFDFF;
        border-radius: 100%;
    }

    body>main>section>section>div:nth-child(4){
        position: absolute;
        width: 205px;
        height: 205px;
        right: 81px;
        top: 210px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.4);
        border: 2px dashed #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #follow{
        position: absolute;
        right: -5%;
        top: 174.5px;
        transform: rotate(90deg);
        color: #FFFFFF;
        font-family:"Calibri";
        font-size: 14px;
        height: 150px;
        width: 300px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        display: none;
    }

    .verticalLine{
        height: 46px;
        border: 1px solid #FFFFFF;
        position: absolute;
        right: 3%;
        top: 250px;
        display: none;
    }

    .linkedinWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 321px;
        display: none;
    }

    .githubWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 361px;
        display: none;
    }
}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){
    #firstPage{
        height: 487px;
        background-color: green;
    }
    .WelcomeRectangle{
        position: absolute;
        width: 160px;
        height: 30px;
        left: 35px;
        top: 168px;
        fill: white;
        z-index: 1;

        /* position: absolute;
         width: 180px;
         height: 40px;

         left: 112px;
         top: 150px;
         z-index: 1;

         background: wheat;
         border-radius: 10px;
         fill: wheat;
         opacity: 0.2;*/

    }

    #welcome{
        position: absolute;
        width: 101px;
        height: 20px;
        left: 66px;
        top: 142px;
        z-index: 1;

        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color : #701C7D;
    }

    body{
        background: #701C7D;
    }

    #myName{
        position: absolute;
        width: 414px;
        height: 55px;
        left: 37px;
        top: 215px;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
        color: white;
    }

    #myPost{
        position: absolute;
        width: 282px;
        height: 17px;
        left: 53px;
        top: 256px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }

    .btnGetStarted{
        position: absolute;
        width: 137px;
        height: 35px;
        left: 163px;
        top: 362px;
        color: #701C7D;
        z-index: 1;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        font-weight: bolder;
    }

    .myProfile{
        position: absolute;
        width: 357px;
        height: 340px;
        right: 14%;
        top: 147px;
        z-index: 1;
    }

    body>main>section>section>div:nth-child(3){
        position: absolute;
        width: 221px;
        height: 221px;
        right: 223px;
        top: 245px;
        background: #FDFDFF;
        border-radius: 100%;
    }

    body>main>section>section>div:nth-child(4){
        position: absolute;
        width: 236px;
        height: 236px;
        right: 108px;
        top: 169px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.4);
        border: 2px dashed #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #follow{
        position: absolute;
        right: -5%;
        top: 174.5px;
        transform: rotate(90deg);
        color: #FFFFFF;
        font-family:"Calibri";
        font-size: 14px;
        height: 150px;
        width: 300px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
    }

    .verticalLine{
        height: 46px;
        border: 1px solid #FFFFFF;
        position: absolute;
        right: 3%;
        top: 250px;
    }

    .linkedinWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 321px;
    }

    .githubWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 361px;
    }

}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){

}





