/*Home Page*/
.WelcomeRectangle{
    position: absolute;
    width: 160px;
    height: 30px;
    left: 112px;
    top: 168px;
    fill: white;
    z-index: 1;

   /* position: absolute;
    width: 180px;
    height: 40px;

    left: 112px;
    top: 150px;
    z-index: 1;

    background: wheat;
    border-radius: 10px;
    fill: wheat;
    opacity: 0.2;*/

}

#welcome{
    position: absolute;
    width: 101px;
    height: 20px;
    left: 139px;
    top: 142px;
    z-index: 1;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color : #701C7D;
}

body{
    background: #701C7D;
}

#myName{
    position: absolute;
    width: 414px;
    height: 55px;
    left: 109px;
    top: 215px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: white;
}

#myPost{
    position: absolute;
    width: 282px;
    height: 17px;
    left: 125px;
    top: 268px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;

    color: #FFFFFF;
}

.btnGetStarted{
    position: absolute;
    width: 137px;
    height: 35px;
    left: 198px;
    top: 405px;
    color: #701C7D;
    z-index: 1;
    border-radius: 15px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    font-weight: bolder;
}

.myProfile{
    position: absolute;
    width: 375px;
    height: 358px;
    right: 14%;
    top: 147px;
    z-index: 1;
}

body>main>section>section>div:nth-child(3){
    position: absolute;
    width: 235px;
    height: 235px;
    right: 271px;
    top: 248px;
    background: #FDFDFF;
    border-radius: 100%;
}

body>main>section>section>div:nth-child(4){
    position: absolute;
    width: 300px;
    height: 300px;
    right: 125px;
    top: 155px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.4);
    border: 2px dashed #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#follow{
    position: absolute;
    right: -3%;
    top: 174.5px;
    transform: rotate(90deg);
    color: #FFFFFF;
    font-family:"Calibri";
    font-size: 14px;
    height: 150px;
    width: 300px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.verticalLine{
    height: 46px;
    border: 1px solid #FFFFFF;
    position: absolute;
    right: 3%;
    top: 250px;
}

.linkedinWhite{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 1.7%;
    top: 321px;
}

.githubWhite{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 1.7%;
    top: 361px;
}

@media all and (width: 320px) {
    .WelcomeRectangle{
        position: absolute;
        width: 125px;
        height: 30px;
        left: 28px;
        top: 88px;
        fill: white;
        z-index: 1

        /* position: absolute;
         width: 180px;
         height: 40px;

         left: 112px;
         top: 150px;
         z-index: 1;

         background: wheat;
         border-radius: 10px;
         fill: wheat;
         opacity: 0.2;*/

    }

    #welcome{
        position: absolute;
        width: 101px;
        height: 20px;
        left: 42px;
        top: 63px;
        z-index: 1;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #701C7D;
    }

    body{
        background: #701C7D;
    }

    #myName{
        position: absolute;
        width: 414px;
        height: 55px;
        left: 30px;
        top: 121px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 55px;
        color: white;
    }

    #myPost{
        position: absolute;
        width: 282px;
        height: 17px;
        left: 37px;
        top: 157px;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;

        color: #FFFFFF;
    }

    .btnGetStarted{
        position: absolute;
        width: 96px;
        height: 29px;
        left: 94px;
        top: 251px;
        color: #701C7D;
        z-index: 1;
        border-radius: 15px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        font-weight: bolder;
    }

    .myProfile{
        position: absolute;
        width: 375px;
        height: 358px;
        right: 14%;
        top: 147px;
        z-index: 1;

    }

    body>main>section>section>div:nth-child(3){
        position: absolute;
        width: 235px;
        height: 235px;
        right: 271px;
        top: 248px;
        background: #FDFDFF;
        border-radius: 100%;
        display: none;
    }

    body>main>section>section>div:nth-child(4){
        position: absolute;
        width: 300px;
        height: 300px;
        right: 125px;
        top: 155px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.4);
        border: 2px dashed #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: none;
    }

    #follow{
        position: absolute;
        right: -3%;
        top: 174.5px;
        transform: rotate(90deg);
        color: #FFFFFF;
        font-family:"Calibri";
        font-size: 14px;
        height: 150px;
        width: 300px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        display: none;
    }

    .verticalLine{
        height: 46px;
        border: 1px solid #FFFFFF;
        position: absolute;
        right: 3%;
        top: 250px;
        display: none;
    }

    .linkedinWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 321px;
        display: none;
    }

    .githubWhite{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 1.7%;
        top: 361px;
        display: none;
    }
}




