/*Fourth Page*/
main>section:nth-child(6)>div{
    position: relative;
    width: 98.73vw;
    height: 200px;
    left: 0px;
    top: 1481px;
    background-color: #470852;
    z-index: 1;
}

#projects {
    position: relative;
    width: 349px;
    height: 147px;
    left: 472px;
    top: 1202px;
    z-index: 1;
    font-family: 'Arial';
    font-size: 128px;
    color: #FFFFFF;
    opacity: 0.4;
}

#fourth>section:nth-child(3)>div:nth-child(1){
    position: absolute;
    width: 272px;
    height: 214px;
    left: 320px;
    top: 3088px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 7;
    background-color: #B6A3BC;
    opacity: 0.8;
    border-radius: unset;
}
#fourth>section:nth-child(3)>div:nth-child(1)>figure{
    position: absolute;
    width: 260px;
    height: 210px;
    left: -15px;
    top: 20px;
    z-index: 8;
}
#fourth>section:nth-child(3)>div:nth-child(1)>figure>figcaption{
    position: absolute;
    width: 300px;
    height: 31.58px;
    left: -30px;
    top: -30px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    z-index: 8;
}

#fourth>section:nth-child(3)>div:nth-child(2){
    position: absolute;
    width: 204px;
    height: 154px;
    left: 170px;
    top: 3117px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 4;
    background-color: #B6A3BC;
    border-radius: unset;
    opacity: 0.8;
}
#fourth>section:nth-child(3)>div:nth-child(2)>figure{
    position: absolute;
    width: 260px;
    height: 210px;
    left: -17px;
    top: 8px;
    z-index: 7;
}
#fourth>section:nth-child(3)>div:nth-child(2)>figure>figcaption{
    position: absolute;
    width: 285px;
    height: 31.58px;
    left: -60px;
    top: -25px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    z-index: 7;
}

#fourth>section:nth-child(3)>div:nth-child(3){
    position: absolute;
    width: 330px;
    height: 250px;
    right: 500px;
    top: 3069px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
    background-color: #B6A3BC;
    opacity: 0.8;
    border-radius: unset;
}
#fourth>section:nth-child(3)>div:nth-child(3)>figure{
    position: absolute;
    width: 260px;
    height: 210px;
    right: -4px;
    top: 20px;
    z-index: 8;
}
#fourth>section:nth-child(3)>div:nth-child(3)>figure>figcaption{
    position: absolute;
    width: 300px;
    height: 31.58px;
    right: -20px;
    top: -30px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    z-index: 8;
}

#fourth>section:nth-child(3)>div:nth-child(4){
    position: absolute;
    width: 272px;
    height: 214px;
    right: 300px;
    top: 3088px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 7;
    background-color: #B6A3BC;
    opacity: 0.8;
    border-radius: unset;
    border: unset;
}
#fourth>section:nth-child(3)>div:nth-child(4)>figure{
    position: absolute;
    width: 260px;
    height: 210px;
    right: -50px;
    top: 15px;
    z-index: 8;
}
#fourth>section:nth-child(3)>div:nth-child(4)>figure>figcaption{
    position: absolute;
    width: 300px;
    height: 31.58px;
    right: -7px;
    top: -28px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    z-index: 8;
}

#fourth>section:nth-child(3)>div:nth-child(5){
    position: absolute;
    width: 204px;
    height: 154px;
    right: 145px;
    top: 3117px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 6;
    background-color: #B6A3BC;
    border-radius: unset;
}
#fourth>section:nth-child(3)>div:nth-child(5)>figure{
    position: absolute;
    width: 260px;
    height: 210px;
    right: -117px;
    top: 8px;
    z-index: 7;
}
#fourth>section:nth-child(3)>div:nth-child(5)>figure>figcaption{
    position: absolute;
    width: 300px;
    height: 31.58px;
    right: 32px;
    top: -25px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    z-index: 7;
}

/*First dot*/
#fourth>div:nth-child(4){
    position: absolute;
    width: 15px;
    height: 15px;
    left: 590px;
    top: 3345px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
}
#fourth>div:nth-child(5){
    position: absolute;
    width: 20px;
    height: 20px;
    left: 630px;
    top: 3342px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 100%;
}
#fourth>div:nth-child(6){
    position: absolute;
    width: 25px;
    height: 25px;
    left: 675px;
    top: 3339px;
    background: #FFFFFF;
    border-radius: 100%;
}
#fourth>div:nth-child(7){
    position: absolute;
    width: 20px;
    height: 20px;
    left: 725px;
    top: 3342px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 100%;
}
/*last dot*/
#fourth>div:nth-child(8){
    position: absolute;
    width: 15px;
    height: 15px;
    left: 770px;
    top: 3345px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
}

.arrow1{
    position: absolute;
    width: 40px;
    height: 4px;
    left: 800px;
    top: 3351px;
    background: rgba(255, 255, 255, 0.75);
}
.arrow1::after, .arrow1::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    right: -3px;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1;
}
.arrow1::after{
    top: -10px;
    transform: rotate(55deg);
}
.arrow1::before{
    top: 10px;
    transform: rotate(-55deg);
}

.more_button {
    position: absolute;
    height: 40px;
    width: 120px;
    left: 638px;
    margin-top: 1596px;
    background-color: #701C7D;
    color: white;
    border-color: white;

    font-family: Arial;
    border-radius: 20px;
}

#view{
    color: white;
}
a{
    text-decoration: none;
}
.more_button:hover {
    background-color: white;
    color: #701C7D;
    border: 3px solid #701C7D;
}

#view:hover{
    color: #701C7D;
}

/*================================== 320 ->Mobile -S ==================================*/
@media all and (width: 320px){
    main>section:nth-child(6)>div{
        position: relative;
        width: 100vw;
        height: 70px;
        left: 0px;
        top: 1141px;
        background-color: #470852;
        z-index: 1;
    }

    #projects {
        position: relative;
        width: 349px;
        height: 147px;
        left: -11px;
        top: 1043px;
        z-index: 1;
        font-family: 'Arial';
        font-size: 48px;
        color: #FFFFFF;
        opacity: 0.4;
    }

    #fourth>section:nth-child(3)>div:nth-child(1){
        position: absolute;
        width: 272px;
        height: 214px;
        left: 320px;
        top: 2520px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 7;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(1)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        left: -15px;
        top: 20px;
        z-index: 8;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(1)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        left: -30px;
        top: -30px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
        display: none;

    }

    #fourth>section:nth-child(3)>div:nth-child(2){
        position: absolute;
        width: 204px;
        height: 154px;
        left: 170px;
        top: 2550px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 4;
        background-color: #B6A3BC;
        border-radius: unset;
        opacity: 0.8;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(2)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        left: -17px;
        top: 8px;
        z-index: 7;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(2)>figure>figcaption{
        position: absolute;
        width: 285px;
        height: 31.58px;
        left: -60px;
        top: -25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 7;
        display: none;
    }

    /*Ayur Ceylon*/
    #fourth>section:nth-child(3)>div:nth-child(3){
        position: absolute;
        width: 272px;
        height: 214px;
        right: 23px;
        top: 1622px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        z-index: 10;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
    }
    #fourth>section:nth-child(3)>div:nth-child(3)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -34px;
        top: 9px;
        z-index: 8;
    }
    #fourth>section:nth-child(3)>div:nth-child(3)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: -20px;
        top: -24px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
    }

    #fourth>section:nth-child(3)>div:nth-child(4){
        position: absolute;
        width: 272px;
        height: 214px;
        right: 300px;
        top: 2520px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 7;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
        border: unset;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(4)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -50px;
        top: 15px;
        z-index: 8;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(4)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: -7px;
        top: -28px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
        display: none;
    }

    #fourth>section:nth-child(3)>div:nth-child(5){
        position: absolute;
        width: 204px;
        height: 154px;
        right: 145px;
        top: 2550px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 6;
        background-color: #B6A3BC;
        border-radius: unset;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(5)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -117px;
        top: 8px;
        z-index: 7;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(5)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: 32px;
        top: -25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 7;
        display: none;
    }

    /*first dot*/
    #fourth>div:nth-child(4){
        position: absolute;
        width: 12px;
        height: 12px;
        left: 75px;
        top: 1867px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
    }
    #fourth>div:nth-child(5){
        position: absolute;
        width: 17px;
        height: 17px;
        left: 109px;
        top: 1864px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 100%;
    }
    #fourth>div:nth-child(6){
        position: absolute;
        width: 22px;
        height: 22px;
        left: 152px;
        top: 1862px;
        background: #FFFFFF;
        border-radius: 100%;
    }
    #fourth>div:nth-child(7){
        position: absolute;
        width: 17px;
        height: 17px;
        left: 200px;
        top: 1864px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 100%;
    }
    /*last dot*/
    #fourth>div:nth-child(8){
        position: absolute;
        width: 12px;
        height: 12px;
        left: 238px;
        top: 1867px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
    }

    .arrow1{
        position: absolute;
        width: 20px;
        height: 4px;
        left: 265px;
        top: 1872px;
        background: rgba(255, 255, 255, 0.75);

    }
    .arrow1::after, .arrow1::before{
        content: '';
        position: absolute;
        width: 12px;
        height: 4px;
        right: -5px;
        background: rgba(255, 255, 255, 0.75);
        z-index: 1;

    }
    .arrow1::after{
        top: -4px;
        transform: rotate(45deg);
    }
    .arrow1::before{
        top: 4px;
        transform: rotate(-45deg);
    }

    .arrow2{
        position: absolute;
        width: 20px;
        height: 4px;
        left: 42px;
        top: 1872px;
        background: rgba(255, 255, 255, 0.75);

    }
    .arrow2::after, .arrow2::before{
        content: '';
        position: absolute;
        width: 12px;
        height: 4px;
        right: 12px;
        background: rgba(255, 255, 255, 0.75);
        z-index: 1;

    }
    .arrow2::after{
        top: -4px;
        transform: rotate(134deg);
    }
    .arrow2::before{
        top: 4px;
        transform: rotate(-134deg);
    }
}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px) {

}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){
    main>section:nth-child(6)>div{
        position: relative;
        width: 100vw;
        height: 143px;
        left: 0px;
        top: 1327px;
        background-color: #470852;
        z-index: 1;
        display: none;
    }

    #projects {
        position: relative;
        width: 349px;
        height: 147px;
        left: 176px;
        top: 1103px;
        z-index: 1;
        font-family: 'Arial';
        font-size: 110px;
        color: #FFFFFF;
        opacity: 0.4;
        display: none;
    }

    #fourth>section:nth-child(3)>div:nth-child(1){
        position: absolute;
        width: 272px;
        height: 214px;
        left: 167px;
        top: 3088px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 7;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(1)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        left: -15px;
        top: 20px;
        z-index: 8;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(1)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        left: -30px;
        top: -30px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
        display: none;
    }

    #fourth>section:nth-child(3)>div:nth-child(2){
        position: absolute;
        width: 219px;
        height: 178px;
        left: 67px;
        top: 2595px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 4;
        background-color: #B6A3BC;
        border-radius: unset;
        opacity: 0.8;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(2)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        left: -17px;
        top: 19px;
        z-index: 7;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(2)>figure>figcaption{
        position: absolute;
        width: 285px;
        height: 31.58px;
        left: -60px;
        top: -25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 7;
        display: none;
    }

    #ayur{
        width: 230px;
        height: 150px;
        display: none;
    }

    #fourth>section:nth-child(3)>div:nth-child(3){
        position: absolute;
        width: 272px;
        height: 214px;
        right: 244px;
        top: 2571px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        z-index: 10;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(3)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -49px;
        top: 20px;
        z-index: 8;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(3)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: -5px;
        top: -30px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
        display: none;
    }

    #market{
        width: 170px;
        height: 120px;
        display: none;
    }

    #fourth>section:nth-child(3)>div:nth-child(4){
        position: absolute;
        width: 219px;
        height: 178px;
        right: 57px;
        top: 2595px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 7;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
        border: unset;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(4)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -108px;
        top: 15px;
        z-index: 8;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(4)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: 22px;
        top: -25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
        display: none;
    }

    #fourth>section:nth-child(3)>div:nth-child(5){
        position: absolute;
        width: 204px;
        height: 154px;
        right: 33px;
        top: 3117px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 6;
        background-color: #B6A3BC;
        border-radius: unset;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(5)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -117px;
        top: 8px;
        z-index: 7;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(5)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: 32px;
        top: -25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 7;
        display: none;
    }

    /*First dot*/
    #fourth>div:nth-child(4){
        position: absolute;
        width: 15px;
        height: 15px;
        left: 418px;
        top: 3345px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
        display: none;
    }
    #fourth>div:nth-child(5){
        position: absolute;
        width: 20px;
        height: 20px;
        left: 335px;
        top: 2814px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 100%;
        display: none;
    }
    #fourth>div:nth-child(6){
        position: absolute;
        width: 25px;
        height: 25px;
        left: 381px;
        top: 2812px;
        background: #FFFFFF;
        border-radius: 100%;
        display: none;
    }
    #fourth>div:nth-child(7){
        position: absolute;
        width: 20px;
        height: 20px;
        left: 433px;
        top: 2814px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 100%;
        display: none;
    }
    /*last dot*/
    #fourth>div:nth-child(8){
        position: absolute;
        width: 15px;
        height: 15px;
        left: 594px;
        top: 3345px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
        display: none;
    }

    .arrow1{
        position: absolute;
        width: 40px;
        height: 4px;
        left: 468px;
        top: 2822px;
        background: rgba(255, 255, 255, 0.75);
        display: none;
    }
    .arrow1::after, .arrow1::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 4px;
        right: -3px;
        background: rgba(255, 255, 255, 0.75);
        z-index: 1;
        display: none;
    }
    .arrow1::after{
        top: -10px;
        transform: rotate(55deg);
    }
    .arrow1::before{
        top: 10px;
        transform: rotate(-55deg);
    }

    .more_button {
        position: absolute;
        height: 40px;
        width: 120px;
        left: 342px;
        margin-top: 1387px;
        background-color: #701C7D;
        color: white;
        border-color: white;
        font-family: Arial;
        border-radius: 20px;
        display: none;
    }

    #view{
        color: white;
    }
    a{
        text-decoration: none;
    }
    .more_button:hover {
        background-color: white;
        color: #701C7D;
        border: 3px solid #701C7D;
    }

    #view:hover{
        color: #701C7D;
    }
}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){
    main>section:nth-child(6)>div{
        position: relative;
        width: 100vw;
        height: 143px;
        left: 0px;
        top: 1327px;
        background-color: #470852;
        z-index: 1;
    }

    #projects {
        position: relative;
        width: 349px;
        height: 147px;
        left: 176px;
        top: 1103px;
        z-index: 1;
        font-family: 'Arial';
        font-size: 110px;
        color: #FFFFFF;
        opacity: 0.4;
    }

    #fourth>section:nth-child(3)>div:nth-child(1){
        position: absolute;
        width: 272px;
        height: 214px;
        left: 167px;
        top: 3088px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 7;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(1)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        left: -15px;
        top: 20px;
        z-index: 8;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(1)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        left: -30px;
        top: -30px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
        display: none;
    }

    #fourth>section:nth-child(3)>div:nth-child(2){
        position: absolute;
        width: 219px;
        height: 178px;
        left: 67px;
        top: 2595px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 4;
        background-color: #B6A3BC;
        border-radius: unset;
        opacity: 0.8;
    }
    #fourth>section:nth-child(3)>div:nth-child(2)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        left: -17px;
        top: 19px;
        z-index: 7;
    }
    #fourth>section:nth-child(3)>div:nth-child(2)>figure>figcaption{
        position: absolute;
        width: 285px;
        height: 31.58px;
        left: -60px;
        top: -25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 7;
    }

    #ayur{
        width: 230px;
        height: 150px;
    }

    #fourth>section:nth-child(3)>div:nth-child(3){
        position: absolute;
        width: 272px;
        height: 214px;
        right: 244px;
        top: 2571px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        z-index: 10;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
    }
    #fourth>section:nth-child(3)>div:nth-child(3)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -49px;
        top: 20px;
        z-index: 8;
    }
    #fourth>section:nth-child(3)>div:nth-child(3)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: -5px;
        top: -30px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
    }

    #market{
        width: 170px;
        height: 120px;
    }

    #fourth>section:nth-child(3)>div:nth-child(4){
        position: absolute;
        width: 219px;
        height: 178px;
        right: 57px;
        top: 2595px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 7;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
        border: unset;
    }
    #fourth>section:nth-child(3)>div:nth-child(4)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -108px;
        top: 15px;
        z-index: 8;
    }
    #fourth>section:nth-child(3)>div:nth-child(4)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: 22px;
        top: -25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
    }

    #fourth>section:nth-child(3)>div:nth-child(5){
        position: absolute;
        width: 204px;
        height: 154px;
        right: 33px;
        top: 3117px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 6;
        background-color: #B6A3BC;
        border-radius: unset;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(5)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -117px;
        top: 8px;
        z-index: 7;
        display: none;
    }
    #fourth>section:nth-child(3)>div:nth-child(5)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: 32px;
        top: -25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 7;
        display: none;
    }

    /*First dot*/
    #fourth>div:nth-child(4){
        position: absolute;
        width: 15px;
        height: 15px;
        left: 418px;
        top: 3345px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
        display: none;
    }
    #fourth>div:nth-child(5){
        position: absolute;
        width: 20px;
        height: 20px;
        left: 335px;
        top: 2814px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 100%;
    }
    #fourth>div:nth-child(6){
        position: absolute;
        width: 25px;
        height: 25px;
        left: 381px;
        top: 2812px;
        background: #FFFFFF;
        border-radius: 100%;
    }
    #fourth>div:nth-child(7){
        position: absolute;
        width: 20px;
        height: 20px;
        left: 433px;
        top: 2814px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 100%;
    }
    /*last dot*/
    #fourth>div:nth-child(8){
        position: absolute;
        width: 15px;
        height: 15px;
        left: 594px;
        top: 3345px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
        display: none;
    }

    .arrow1{
        position: absolute;
        width: 40px;
        height: 4px;
        left: 468px;
        top: 2822px;
        background: rgba(255, 255, 255, 0.75);
    }
    .arrow1::after, .arrow1::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 4px;
        right: -3px;
        background: rgba(255, 255, 255, 0.75);
        z-index: 1;
    }
    .arrow1::after{
        top: -10px;
        transform: rotate(55deg);
    }
    .arrow1::before{
        top: 10px;
        transform: rotate(-55deg);
    }

    .more_button {
        position: absolute;
        height: 40px;
        width: 120px;
        left: 342px;
        margin-top: 1387px;
        background-color: #701C7D;
        color: white;
        border-color: white;
        font-family: Arial;
        border-radius: 20px;
    }

    #view{
        color: white;
    }
    a{
        text-decoration: none;
    }
    .more_button:hover {
        background-color: white;
        color: #701C7D;
        border: 3px solid #701C7D;
    }

    #view:hover{
        color: #701C7D;
    }
}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){
    main>section:nth-child(6)>div{
        position: relative;
        width: 100vw;
        height: 200px;
        left: 0px;
        top: 1481px;
        background-color: #470852;
        z-index: 1;
    }

    #projects {
        position: relative;
        width: 349px;
        height: 147px;
        left: 296px;
        top: 1202px;
        z-index: 1;
        font-family: 'Arial';
        font-size: 128px;
        color: #FFFFFF;
        opacity: 0.4;
    }

    #fourth>section:nth-child(3)>div:nth-child(1){
        position: absolute;
        width: 272px;
        height: 214px;
        left: 167px;
        top: 3088px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 7;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
    }
    #fourth>section:nth-child(3)>div:nth-child(1)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        left: -15px;
        top: 20px;
        z-index: 8;
    }
    #fourth>section:nth-child(3)>div:nth-child(1)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        left: -30px;
        top: -30px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
    }

    #fourth>section:nth-child(3)>div:nth-child(2){
        position: absolute;
        width: 204px;
        height: 154px;
        left: 30px;
        top: 3117px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 4;
        background-color: #B6A3BC;
        border-radius: unset;
        opacity: 0.8;
    }
    #fourth>section:nth-child(3)>div:nth-child(2)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        left: -17px;
        top: 8px;
        z-index: 7;
    }
    #fourth>section:nth-child(3)>div:nth-child(2)>figure>figcaption{
        position: absolute;
        width: 285px;
        height: 31.58px;
        left: -60px;
        top: -25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 7;
    }

    #fourth>section:nth-child(3)>div:nth-child(3){
        position: absolute;
        width: 330px;
        height: 250px;
        right: 351px;
        top: 3069px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        z-index: 10;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
    }
    #fourth>section:nth-child(3)>div:nth-child(3)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -4px;
        top: 20px;
        z-index: 8;
    }
    #fourth>section:nth-child(3)>div:nth-child(3)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: -20px;
        top: -30px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
    }

    #fourth>section:nth-child(3)>div:nth-child(4){
        position: absolute;
        width: 272px;
        height: 214px;
        right: 169px;
        top: 3088px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 7;
        background-color: #B6A3BC;
        opacity: 0.8;
        border-radius: unset;
        border: unset;
    }
    #fourth>section:nth-child(3)>div:nth-child(4)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -50px;
        top: 15px;
        z-index: 8;
    }
    #fourth>section:nth-child(3)>div:nth-child(4)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: -7px;
        top: -28px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 8;
    }

    #fourth>section:nth-child(3)>div:nth-child(5){
        position: absolute;
        width: 204px;
        height: 154px;
        right: 33px;
        top: 3117px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 6;
        background-color: #B6A3BC;
        border-radius: unset;
    }
    #fourth>section:nth-child(3)>div:nth-child(5)>figure{
        position: absolute;
        width: 260px;
        height: 210px;
        right: -117px;
        top: 8px;
        z-index: 7;
    }
    #fourth>section:nth-child(3)>div:nth-child(5)>figure>figcaption{
        position: absolute;
        width: 300px;
        height: 31.58px;
        right: 32px;
        top: -25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        z-index: 7;
    }

    /*First dot*/
    #fourth>div:nth-child(4){
        position: absolute;
        width: 15px;
        height: 15px;
        left: 418px;
        top: 3345px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
    }
    #fourth>div:nth-child(5){
        position: absolute;
        width: 20px;
        height: 20px;
        left: 455px;
        top: 3342px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 100%;
    }
    #fourth>div:nth-child(6){
        position: absolute;
        width: 25px;
        height: 25px;
        left: 502px;
        top: 3339px;
        background: #FFFFFF;
        border-radius: 100%;
    }
    #fourth>div:nth-child(7){
        position: absolute;
        width: 20px;
        height: 20px;
        left: 551px;
        top: 3342px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 100%;
    }
    /*last dot*/
    #fourth>div:nth-child(8){
        position: absolute;
        width: 15px;
        height: 15px;
        left: 594px;
        top: 3345px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
    }

    .arrow1{
        position: absolute;
        width: 40px;
        height: 4px;
        left: 626px;
        top: 3351px;
        background: rgba(255, 255, 255, 0.75);
    }
    .arrow1::after, .arrow1::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 4px;
        right: -3px;
        background: rgba(255, 255, 255, 0.75);
        z-index: 1;
    }
    .arrow1::after{
        top: -10px;
        transform: rotate(55deg);
    }
    .arrow1::before{
        top: 10px;
        transform: rotate(-55deg);
    }

    .more_button {
        position: absolute;
        height: 40px;
        width: 120px;
        left: 455px;
        margin-top: 1596px;
        background-color: #701C7D;
        color: white;
        border-color: white;

        font-family: Arial;
        border-radius: 20px;
    }

    #view{
        color: white;
    }
    a{
        text-decoration: none;
    }
    .more_button:hover {
        background-color: white;
        color: #701C7D;
        border: 3px solid #701C7D;
    }

    #view:hover{
        color: #701C7D;
    }
}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){

}

/* ================================== 4K ================================== */
@media all and (min-width: 1441px) and (max-width: 2560px){

}