/*
#servicesPage>div{
    position: relative;
    width: 98.73vw;
    height: 200px;
    left: 0px;
    top: 930px;
    background-color: #470852;
    z-index: 1;
}

#services{
    position: relative;
    width: 349px;
    height: 147px;
    left: 493px;
    top: 699px;
    z-index: 1;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 147px;
    color: #FFFFFF;
    opacity: 0.4;
}

.services1{
    position: absolute;
    width: 430px;
    height: 512px;
    left: 50px;
    top: 1525px;
    border-radius: 25%;
    box-shadow: 3px 2px 5px 1px black;
    background-color: #FFFFFF;
    z-index: 1;
}

.service-p1{
    position: absolute;
    width: 292px;
    height: 31px;
    left: 119px;
    top: 1703px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;
    color: #000000;
}*/
