#servicesPage>div{
    position: relative;
    width: 98.73vw;
    height: 200px;
    left: 0px;
    top: 930px;
    background-color: #470852;
    z-index: 1;

}

#services{
    position: relative;
    width: 349px;
    height: 147px;
    left: 450px;
    top: 664px;
    z-index: 1;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 147px;
    color: #FFFFFF;
    opacity: 0.4;
}

.services1{
    position: absolute;
    width: 344px;
    height: 321px;
    left: 63px;
    top: 1448px;
    border-radius: 5%;
    box-shadow: 3px 5px 5px 1px #470852;
    background-color: #FFFFFF;
    z-index: 1;
}

.services2{
    position: absolute;
    width: 344px;
    height: 321px;
    left: 504px;
    top: 1448px;
    border-radius: 5%;
    box-shadow: 3px 5px 5px 1px #470852;
    background-color: #FFFFFF;
    z-index: 1;
}

.services3{
    position: absolute;
    width: 344px;
    height: 321px;
    left: 942px;
    top: 1448px;
    border-radius: 5%;
    box-shadow: 3px 5px 5px 1px #470852;
    background-color: #FFFFFF;
    z-index: 1;
    display: inline-block;
}

.service-img{
    height: 113px;
    width: 113px;
    margin-left: 127px;
    margin-top: 20px;
}

.service-p1{
    position: absolute;
    width: 340px;
    height: 31px;
    left: 48px;
    top: 108px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.service-p2{
    position: absolute;
    width: 340px;
    height: 31px;
    left: 81px;
    top: 108px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.service-p3{
    position: absolute;
    width: 154px;
    height: 31px;
    left: 102px;
    top: 108px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.serv-para1{
    position: absolute;
    width: 265px;
    height: 303px;
    left: 41px;
    top: 171px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 10;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

/*================================== 320 ->Mobile -S ==================================*/
@media all and (width: 320px){

}
/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px) {

}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){

}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){

}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){

}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){

}

/* ================================== 4K ================================== */
@media all and (min-width: 1441px) and (max-width: 2560px){

}