/*Third Page*/
#ThirdPage{
    height: 954px;
    background-color: darkblue;
}

body>main>section:nth-child(5)>div{/*skills*/
    position: relative;
    width: 98.73vw;
    height: 200px;
    left: 0px;
    top: 0px;
    background-color: #470852;
    z-index: 1;
}

#skills{
    position: relative;
    width: 349px;
    height: 147px;
    left: 539px;
    top: -258px;
    z-index: 1;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 147px;
    color: #FFFFFF;
    opacity: 0.4;
}

body>main>section:nth-child(5)>section:nth-child(3)>section>div{
    position: absolute;
    width: 1000px;
    height: 600px;
    left: 11em;
    top: 131em;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.smiller1{
    position: absolute;
    width: 459px;
    height: 71px;
    left: 5%;
    top:0;
    font-family: 'Arial';
    font-size: 40px;
    color: #000000;
    z-index: 1;
}

.smiller2{
    position: absolute;
    width: 459px;
    height: 71px;
    left: 30%;
    top: 0;
    font-family: 'Arial';
    font-size: 40px;
    color: #000000;
    z-index: 1;
}

#nonSmiller{
    position: absolute;
    width: 459px;
    height: 71px;
    left: 7%;
    top: 0;
    font-family: 'Arial';
    font-size: 40px;
    color: #701C7D;
    z-index: 1;
}

#design{
    position: absolute;
    width: 150px;
    height: 31px;
    font-size: 25px;
    left: 8%;
    top: 20%;
    color: #000000;
    font-family: 'Arial';
    z-index: 1;
    border-bottom: 1px solid black;
}

body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(5){
    display: inline-block;
    position: absolute;
    width: 170px;
    height: 0px;
    left: 5em;
    top: 11em;
    z-index: 1;
    border: 2px solid #000000;
}

.designList{
    list-style: none;
    position: absolute;
    left:4%;
    top: 30%;
    font-size: 25px;
    font-family: 'Arial';
    color: #4A4A4A;
    z-index: 1;
}

#web{
    position: absolute;
    width: 100px;
    height: 31px;
    left: 41%;
    top: 20%;
    font-family: 'Arial';
    color: black;
    z-index: 1;
    font-size: 25px;
    border-bottom: 1px solid black;
}

body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(8){
    display: inline-block;
    position: absolute;
    width: 170px;
    height: 0px;
    left: 25.9em;
    top: 11em;
    z-index: 1;
    border: 2px solid #000000;
}

.webList{
    list-style: none;
    position: absolute;
    left: 37.5%;
    top: 30%;
    font-size: 25px;
    font-family: 'Arial';
    color: #4A4A4A;
    z-index: 1;
}

#software{
    position: absolute;
    width: 200px;
    height: 31px;
    left: 74%;
    top: 20%;
    font-family: 'Arial';
    color: black;
    z-index: 1;
    font-size: 25px;
    border-bottom: 1px solid black;
}

body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(11){
    display: inline-block;
    position: absolute;
    width: 170px;
    height: 0px;
    left: 46.4em;
    top: 11em;
    z-index: 1;
    border: 2px solid #000000;
}

.softwareList{
    list-style: none;
    position: absolute;
    left: 70.5%;
    top: 30%;
    font-size: 25px;
    font-family: 'Arial';
    color: #4A4A4A;
    z-index: 1;
}

.imgPara{
    top: 75%;
    left: 8%;
    z-index: 1;
    position: absolute;
}

.javaScript{
    left: 8em;
    position: absolute;
}

.css{
    left: 17.5em;
    position: absolute;
}

.html{
    left:25.5em;
    position: absolute;
}

.mysql{
    left:34em;
    position: absolute;
}

.hibernate{
    left:42em;
    position: absolute;
}

.python{
    left:50em;
    position: absolute;
}

.intellij{
    left: 0em;
    position: absolute;
}

.figma{
    left: 8em;
    position: absolute;
}

.slack{
    left: 17.5em;
    position: absolute;
}

.eclipse{
    left:25.5em;
    position: absolute;
}

.Scene{
    left:34em;
    position: absolute;
}

.gitHub{
    left:42em;
    position: absolute;
}

.visual{
    left:50em;
    position: absolute;
}

/*================================== 320 ->Mobile -S ==================================*/
@media all and (width: 320px) {
    #ThirdPage{
        height: 431px;
        background-color: darkblue;
    }
    body>main>section:nth-child(5)>div{/*skills*/
        position: relative;
        width: 100vw;
        height: 70px;
        left: 0px;
        top: 0px;
        background-color: #470852;
        z-index: 1;
    }

    #skills{
        position: relative;
        width: 172px;
        height: 147px;
        left: 105px;
        top: -140px;
        z-index: 1;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 147px;
        color: #FFFFFF;
        opacity: 0.4;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div{
        position: absolute;
        width: 281px;
        height: 288px;
        left: 1.2em;
        top: 154em;
        background-color: #FFFFFF;
        border-radius: 15px;
    }

    .smiller1{
        position: absolute;
        width: 160px;
        height: 71px;
        left: 3%;
        top:0;
        font-family: 'Arial';
        font-size: 22px;
        color: #000000;
        z-index: 1;

    }

    .smiller2{
        position: absolute;
        width: 154px;
        height: 71px;
        left: 53%;
        top: 0;
        font-family: 'Arial';
        font-size: 22px;
        color: #000000;
        z-index: 1;

    }

    #nonSmiller{
        position: absolute;
        width: 154px;
        height: 71px;
        left: 7%;
        top: 0;
        font-family: 'Arial';
        font-size: 22px;
        color: #701C7D;
        z-index: 1;

    }

    #design{
        position: absolute;
        width: 59px;
        height: 13px;
        font-size: 12px;
        left: 3%;
        top: 15%;
        color: #000000;
        font-family: 'Arial';
        z-index: 1;
        border-bottom: 1px solid black;

    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(5){
        display: inline-block;
        position: absolute;
        width: 55px;
        height: 0.1em;
        left: 0.54em;
        top: 4.1em;
        z-index: 1;
        border: 2px solid #000000;

    }

    .designList{
        list-style: none;
        position: absolute;
        left: -11%;
        top: 23%;
        font-size: 9px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    #web{
        position: absolute;
        width: 41px;
        height: 13px;
        left: 37%;
        top: 15%;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 12px;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(8){
        display: inline-block;
        position: absolute;
        width: 36px;
        height: 0px;
        left: 6.58em;
        top: 4.1em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .webList{
        list-style: none;
        position: absolute;
        left: 23%;
        top: 23%;
        font-size: 9px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    #software{
        position: absolute;
        width: 77px;
        height: 13px;
        left: 71%;
        top: 15%;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 12px;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(11){
        display: inline-block;
        position: absolute;
        width: 71px;
        height: 0px;
        left: 12.5678456em;
        top: 4.1em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .softwareList{
        list-style: none;
        position: absolute;
        left: 57%;
        top: 23%;
        font-size: 9px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    .imgPara{
        top: 58%;
        left: 4%;
        z-index: 1;
        position: absolute;
    }

    .java{
        width: 30px;
        height: 30px;
    }

    .javaScript{
        left: 2em;
        position: absolute;
        width: 30px;
        height: 30px;

    }

    .css{
        width: 30px;
        height: 30px;
        left: 4.3em;
        position: absolute;

    }

    .html{
        width: 30px;
        height: 30px;
        left:6.4em;
        position: absolute;

    }

    .mysql{
        width: 30px;
        height: 30px;
        left:8.8em;
        position: absolute;

    }

    .hibernate{
        width: 30px;
        height: 30px;
        left:11.5em;
        position: absolute;

    }

    .python{
        width: 30px;
        height: 30px;
        left:14.2em;
        position: absolute;

    }

    .intellij{
        width: 30px;
        height: 30px;
        left: 0em;
        position: absolute;

    }

    .figma{
        width: 30px;
        height: 30px;
        left: 2em;
        position: absolute;

    }

    .slack{
        width: 30px;
        height: 30px;
        left: 4.3em;
        position: absolute;

    }

    .eclipse{
        width: 30px;
        height: 30px;
        left:6.4em;
        position: absolute;

    }

    .Scene{
        width: 30px;
        height: 30px;
        left:8.8em;
        position: absolute;

    }

    .gitHub{
        width: 30px;
        height: 30px;
        left:11.5em;
        position: absolute;

    }

    .visual{
        width: 30px;
        height: 30px;
        left:14.2em;
        position: absolute;

    }
}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px) {
    #ThirdPage{
        height: 575px;
        background-color: darkblue;

    }
    body>main>section:nth-child(5)>div{/*skills*/
        position: relative;
        width: 100vw;
        height: 80px;
        left: 0px;
        top: 0px;
        background-color: #470852;
        z-index: 1;
    }

    #skills{
        position: relative;
        width: 196px;
        height: 147px;
        left: 132px;
        top: -148px;
        z-index: 1;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 147px;
        color: #FFFFFF;
        opacity: 0.4;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div{
        overflow-x: hidden !important;
        position: absolute;
        width: 314px;
        height: 393px;
        left: 2em;
        top: 165em;
        background-color: #FFFFFF;
        border-radius: 21px;
    }

    .smiller1{
        position: absolute;
        width: 459px;
        height: 71px;
        left: 3%;
        top: 0;
        font-family: 'Arial';
        font-size: 25px;
        color: #000000;
        z-index: 1;
    }

    .smiller2{
        position: absolute;
        width: 174px;
        height: 71px;
        left: 53%;
        top: 0;
        font-family: 'Arial';
        font-size: 25px;
        color: #000000;
        z-index: 1;
    }

    #nonSmiller{
        position: absolute;
        width: 124px;
        height: 71px;
        left: 7%;
        top: 0;
        font-family: 'Arial';
        font-size: 25px;
        color: #701C7D;
        z-index: 1;
    }

    #design{
        position: absolute;
        width: 71px;
        height: 16px;
        font-size: 15px;
        left: 3%;
        top: 15%;
        color: #000000;
        font-family: 'Arial';
        z-index: 1;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(5){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 5em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .designList{
        list-style: none;
        position: absolute;
        left: -9%;
        top: 22%;
        font-size: 11px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    #web{
        position: absolute;
        width: 49px;
        height: 15px;
        left: 36%;
        top: 15%;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 15px;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(8){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 25.9em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .webList{
        list-style: none;
        position: absolute;
        left: 23%;
        top: 22%;
        font-size: 11px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    #software{
        position: absolute;
        width: 98px;
        height: 15px;
        left: 64%;
        top: 15%;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 15px;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(11){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 46.4em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .softwareList{
        list-style: none;
        position: absolute;
        left: 59%;
        top: 22%;
        font-size: 11px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    .imgPara{
        top: 65%;
        left: 4%;
        z-index: 1;
        position: absolute;
    }

    .java{
        width: 30px;
        height: 30px;
    }

    .javaScript{
        left: 2.5em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .css{
        left: 5em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .html{
        left: 7.5em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .mysql{
        left: 10em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .hibernate{
        left: 13em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .python{
        left: 16em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .intellij{
        left: 0em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .figma{
        left: 2.5em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .slack{
        left: 5em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .eclipse{
        left:7.5em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .Scene{
        left:10em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .gitHub{
        left:13em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .visual{
        left:16em;
        position: absolute;
        width: 30px;
        height: 30px;
    }
}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){
    #ThirdPage{
        height: 575px;
        background-color: darkblue;
    }
    body>main>section:nth-child(5)>div{/*skills*/
        position: relative;
        width: 100vw;
        height: 90px;
        left: 0px;
        top: 0px;
        background-color: #470852;
        z-index: 1;
    }

    #skills{
        position: relative;
        width: 349px;
        height: 147px;
        left: 123px;
        top: -163px;
        z-index: 1;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 147px;
        color: #FFFFFF;
        opacity: 0.4;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div{
        overflow-x: hidden !important;
        position: absolute;
        width: 360px;
        height: 393px;
        left: 2em;
        top: 165em;
        background-color: #FFFFFF;
        border-radius: 21px;
    }

    .smiller1{
        position: absolute;
        width: 459px;
        height: 71px;
        left: 3%;
        top: 0;
        font-family: 'Arial';
        font-size: 30px;
        color: #000000;
        z-index: 1;
    }

    .smiller2{
        position: absolute;
        width: 171px;
        height: 71px;
        left: 55%;
        top: 0;
        font-family: 'Arial';
        font-size: 30px;
        color: #000000;
        z-index: 1;
    }

    #nonSmiller{
        position: absolute;
        width: 207px;
        height: 71px;
        left: 7%;
        top: 0;
        font-family: 'Arial';
        font-size: 30px;
        color: #701C7D;
        z-index: 1;
    }

    #design{
        position: absolute;
        width: 88px;
        height: 23px;
        font-size: 20px;
        left: 3%;
        top: 15%;
        color: #000000;
        font-family: 'Arial';
        z-index: 1;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(5){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 5em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .designList{
        list-style: none;
        position: absolute;
        left: -8%;
        top: 25%;
        font-size: 12px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    #web{
        position: absolute;
        width: 70px;
        height: 23px;
        left: 36%;
        top: 15%;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 20px;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(8){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 25.9em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .webList{
        list-style: none;
        position: absolute;
        left: 25%;
        top: 25%;
        font-size: 12px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    #software{
        position: absolute;
        width: 125px;
        height: 23px;
        left: 64%;
        top: 15%;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 20px;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(11){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 46.4em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .softwareList{
        list-style: none;
        position: absolute;
        left: 60%;
        top: 25%;
        font-size: 12px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    .imgPara{
        top: 65%;
        left: 4%;
        z-index: 1;
        position: absolute;
    }

    .java{
        width: 30px;
        height: 30px;
    }

    .javaScript{
        left: 3.5em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .css{
        left: 6.8em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .html{
        left: 10em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .mysql{
        left: 13em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .hibernate{
        left: 16em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .python{
        left: 19em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .intellij{
        left: 0em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .figma{
        left: 3.5em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .slack{
        left: 6.8em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .eclipse{
        left:10em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .Scene{
        left:13em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .gitHub{
        left:16em;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    .visual{
        left:19em;
        position: absolute;
        width: 30px;
        height: 30px;
    }
}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){
    #ThirdPage{
        height: 864px;
        background-color: darkblue;
    }
    body>main>section:nth-child(5)>div{/*skills*/
        position: relative;
        width: 100vw;
        height: 143px;
        left: 0px;
        top: 0;
        background-color: #470852;
        z-index: 1;
    }

    #skills{
        position: relative;
        width: 349px;
        height: 147px;
        left: 262px;
        top: -216px;
        z-index: 1;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 110px;
        line-height: 147px;
        color: #FFFFFF;
        opacity: 0.4;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div{
        overflow-x: hidden !important;
        position: absolute;
        width: 672px;
        height: 600px;
        left: 3em;
        top: 113em;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .smiller1{
        position: absolute;
        width: 459px;
        height: 71px;
        left: 5%;
        top: 0;
        font-family: 'Arial';
        font-size: 37px;
        color: #000000;
        z-index: 1;
    }

    .smiller2{
        position: absolute;
        width: 459px;
        height: 71px;
        left: 41%;
        top: 0;
        font-family: 'Arial';
        font-size: 37px;
        color: #000000;
        z-index: 1;
    }

    #nonSmiller{
        position: absolute;
        width: 459px;
        height: 71px;
        left: 8.7%;
        top: 0;
        font-family: 'Arial';
        font-size: 37px;
        color: #701C7D;
        z-index: 1;
    }

    #design{
        position: absolute;
        width: 150px;
        height: 31px;
        font-size: 25px;
        left: 5%;
        top: 13%;
        color: #000000;
        font-family: 'Arial';
        z-index: 1;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(5){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 5em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .designList{
        list-style: none;
        position: absolute;
        left: -1%;
        top: 20%;
        font-size: 20px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    #web{
        position: absolute;
        width: 100px;
        height: 31px;
        left: 39%;
        top: 13%;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 25px;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(8){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 25.9em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .webList{
        list-style: none;
        position: absolute;
        left: 33.5%;
        top: 20%;
        font-size: 20px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    #software{
        position: absolute;
        width: 175px;
        height: 31px;
        left: 71%;
        top: 13%;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 25px;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(11){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 46.4em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .softwareList{
        list-style: none;
        position: absolute;
        left: 65%;
        top: 20%;
        font-size: 20px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    .imgPara{
        top: 70%;
        left: 4%;
        z-index: 1;
        position: absolute;
    }

    .java{
        width: 50px;
        height: 50px;
    }

    .javaScript{
        left: 5.5em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .css{
        left: 11em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .html{
        left: 16.5em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .mysql{
        left: 22em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .hibernate{
        left: 28em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .python{
        left: 34em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .intellij{
        left: 0em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .figma{
        left: 5.5em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .slack{
        left: 11em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .eclipse{
        left:16.5em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .Scene{
        left:22em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .gitHub{
        left:28em;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .visual{
        left:34em;
        position: absolute;
        width: 50px;
        height: 50px;
    }
}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){
    body>main>section:nth-child(5)>div{/*skills*/
        position: relative;
        width: 100vw;
        height: 200px;
        left: 0px;
        top: 0px;
        background-color: #470852;
        z-index: 1;
    }

    #skills{
        position: relative;
        width: 349px;
        height: 147px;
        left: 377px;
        top: -255px;
        z-index: 1;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 128px;
        line-height: 147px;
        color: #FFFFFF;
        opacity: 0.4;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div{
        overflow-x: hidden !important;
        position: absolute;
        width: 904px;
        height: 600px;
        left: 4em;
        top: 132em;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .smiller1{
        position: absolute;
        width: 459px;
        height: 71px;
        left: 5%;
        top:0;
        font-family: 'Arial';
        font-size: 40px;
        color: #000000;
        z-index: 1;
    }

    .smiller2{
        position: absolute;
        width: 459px;
        height: 71px;
        left: 32.5%;
        top: 0;
        font-family: 'Arial';
        font-size: 40px;
        color: #000000;
        z-index: 1;
    }

    #nonSmiller{
        position: absolute;
        width: 459px;
        height: 71px;
        left: 7%;
        top: 0;
        font-family: 'Arial';
        font-size: 40px;
        color: #701C7D;
        z-index: 1;
    }

    #design{
        position: absolute;
        width: 150px;
        height: 31px;
        font-size: 25px;
        left: 5%;
        top: 20%;
        color: #000000;
        font-family: 'Arial';
        z-index: 1;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(5){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 5em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .designList{
        list-style: none;
        position: absolute;
        left: 0.5%;
        top: 30%;
        font-size: 25px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    #web{
        position: absolute;
        width: 100px;
        height: 31px;
        left: 39%;
        top: 20%;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 25px;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(8){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 25.9em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .webList{
        list-style: none;
        position: absolute;
        left: 35%;
        top: 30%;
        font-size: 25px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    #software{
        position: absolute;
        width: 200px;
        height: 31px;
        left: 71%;
        top: 20%;
        font-family: 'Arial';
        color: black;
        z-index: 1;
        font-size: 25px;
        border-bottom: 1px solid black;
    }

    body>main>section:nth-child(5)>section:nth-child(3)>section>div>hr:nth-child(11){
        display: inline-block;
        position: absolute;
        width: 170px;
        height: 0px;
        left: 46.4em;
        top: 11em;
        z-index: 1;
        border: 2px solid #000000;
    }

    .softwareList{
        list-style: none;
        position: absolute;
        left: 66.5%;
        top: 30%;
        font-size: 25px;
        font-family: 'Arial';
        color: #4A4A4A;
        z-index: 1;
    }

    .imgPara{
        top: 75%;
        left: 4%;
        z-index: 1;
        position: absolute;
    }

    .javaScript{
        left: 8em;
        position: absolute;
    }

    .css{
        left: 17.5em;
        position: absolute;
    }

    .html{
        left:25.5em;
        position: absolute;
    }

    .mysql{
        left:34em;
        position: absolute;
    }

    .hibernate{
        left:42em;
        position: absolute;
    }

    .python{
        left:50em;
        position: absolute;
    }

    .intellij{
        left: 0em;
        position: absolute;
    }

    .figma{
        left: 8em;
        position: absolute;
    }

    .slack{
        left: 17.5em;
        position: absolute;
    }

    .eclipse{
        left:25.5em;
        position: absolute;
    }

    .Scene{
        left:34em;
        position: absolute;
    }

    .gitHub{
        left:42em;
        position: absolute;
    }

    .visual{
        left:50em;
        position: absolute;
    }
}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){

}

