.body{
    margin: 0;
}

.background{
    height: 100vh;
    background: url(../image/vecteezy_forest-game-background_8330403.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    width: 100%;
}

#banner{
    margin-top: 10px;
    position: absolute;
    padding-top: 14px;
    margin-left: 528px;
}

.boy{
    height: 200px;
    margin-top: 408px;
    position: absolute;
}